1.-internal-requests-workflow-.json
{
  "updatedAt": "2025-11-04T13:35:01.625Z",
  "createdAt": "2025-11-04T13:35:01.625Z",
  "id": "pcoSUZTSP5plYKsX",
  "name": "1. Internal requests workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "internal-request",
        "formTitle": "Internal Request Form",
        "formDescription": "Submit your request to the appropriate department",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Department",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Accounting"
                  },
                  {
                    "option": "HR"
                  },
                  {
                    "option": "IT"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Request Title",
              "requiredField": true
            },
            {
              "fieldLabel": "Request Description",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Priority",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Low"
                  },
                  {
                    "option": "Medium"
                  },
                  {
                    "option": "High"
                  },
                  {
                    "option": "Urgent"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "220dce39-cfde-4af1-869e-bc534d7aacd6",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        -1632,
        -96
      ],
      "webhookId": "internal-request-form"
    },
    {
      "parameters": {
        "jsCode": "// Map and structure the form data\nconst formData = $input.item.json;\n\n// Extract timestamp\nconst timestamp = new Date().toISOString();\n\n// Map variables from form submission\n// The form uses \"Your Name\", \"Email\", etc. as keys\nconst mappedData = {\n  timestamp: timestamp,\n  requester_name: formData['Your Name'] || formData.requester_name,\n  requester_email: formData['Email'] || formData.requester_email,\n  department: formData['Department'] || formData.department,\n  request_title: formData['Request Title'] || formData.request_title,\n  request_description: formData['Request Description'] || formData.request_description,\n  priority: formData['Priority'] || formData.priority,\n  status: 'New',\n  request_id: `REQ-${Date.now()}`\n};\n\n// Return the mapped data\nreturn {\n  json: mappedData\n};"
      },
      "id": "fb892cea-0164-4521-9077-3317406551a7",
      "name": "Map Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        -96
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "Accounting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "cd99b3bc-08c3-4a0a-8b3e-21182808fca5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Accounting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "HR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "8e9987d1-10e6-45ac-841c-57048a31c59b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "IT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "72a79aa1-5a20-45b4-bbcf-a114447b8d72"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IT"
            }
          ]
        },
        "options": {}
      },
      "id": "0fdc0c0b-a76b-497b-aaef-8ea2e69fab37",
      "name": "Route by Department",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1184,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FcK4Cjo2iZEiPnqa0067WNWhDRe0p5vNiImZE2ZUjBE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Accounting",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Request ID": "={{ $json.request_id }}",
            "Requester Name": "={{ $json.requester_name }}",
            "Requester Email": "={{ $json.requester_email }}",
            "Request Title": "={{ $json.request_title }}",
            "Description": "={{ $json.request_description }}",
            "Priority": "={{ $json.priority }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "Request ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request ID",
              "displayName": "Request ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requester Name",
              "displayName": "Requester Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requester Email",
              "displayName": "Requester Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Request Title",
              "displayName": "Request Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dc5155c8-c683-4065-b163-8f360f4c18ec",
      "name": "Add to Accounting Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -992,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FcK4Cjo2iZEiPnqa0067WNWhDRe0p5vNiImZE2ZUjBE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "HR",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Request ID": "={{ $json.request_id }}",
            "Requester Name": "={{ $json.requester_name }}",
            "Requester Email": "={{ $json.requester_email }}",
            "Request Title": "={{ $json.request_title }}",
            "Description": "={{ $json.request_description }}",
            "Priority": "={{ $json.priority }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "Request ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request ID",
              "displayName": "Request ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requester Name",
              "displayName": "Requester Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requester Email",
              "displayName": "Requester Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Request Title",
              "displayName": "Request Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d41e80cd-3ed0-499b-8ebf-6d0393370d67",
      "name": "Add to HR Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -960,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FcK4Cjo2iZEiPnqa0067WNWhDRe0p5vNiImZE2ZUjBE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "IT",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Request ID": "={{ $json.request_id }}",
            "Requester Name": "={{ $json.requester_name }}",
            "Requester Email": "={{ $json.requester_email }}",
            "Request Title": "={{ $json.request_title }}",
            "Description": "={{ $json.request_description }}",
            "Priority": "={{ $json.priority }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "Request ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request ID",
              "displayName": "Request ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requester Name",
              "displayName": "Requester Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requester Email",
              "displayName": "Requester Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Request Title",
              "displayName": "Request Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "227df4d7-b699-44b5-b961-7d65585da586",
      "name": "Add to IT Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -960,
        96
      ]
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Map Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Variables": {
      "main": [
        [
          {
            "node": "Route by Department",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Department": {
      "main": [
        [
          {
            "node": "Add to Accounting Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to HR Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to IT Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "213be8aa-ac5e-4e59-beb1-1a5af371db5d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-04T13:35:01.627Z",
      "createdAt": "2025-11-04T13:35:01.627Z",
      "role": "workflow:owner",
      "workflowId": "pcoSUZTSP5plYKsX",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": null,
  "tags": []
}