4.-serp-api---dentists-in-thessaloniki-leads-finder-.json
{
  "updatedAt": "2025-11-22T16:53:01.376Z",
  "createdAt": "2025-11-22T16:53:01.376Z",
  "id": "0k8ABWDK9TyOUdHe",
  "name": "4. Serp api - dentists in thessaloniki leads finder",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get the AI extraction result\nconst extractionResult = $input.first().json;\n\n// Get the original URL and title from the loop\nconst sourceUrl = $('Loop Over Items1').item.json.link;\nconst pageTitle = $('Loop Over Items1').item.json.title;\n\n// Recursive function to find the dentists array anywhere in the structure\nfunction findDentists(obj, depth = 0) {\n  // Prevent infinite recursion\n  if (depth > 10) return null;\n  \n  // If it's null or undefined, return null\n  if (obj == null) return null;\n  \n  // If it's a string, try to parse it as JSON\n  if (typeof obj === 'string') {\n    try {\n      return findDentists(JSON.parse(obj), depth + 1);\n    } catch {\n      return null;\n    }\n  }\n  \n  // If it's an array, check if it looks like dentists\n  if (Array.isArray(obj)) {\n    // Check if first item has dentist-like properties\n    if (obj.length > 0 && obj[0] && typeof obj[0] === 'object' && \n        ('name' in obj[0] || 'email' in obj[0] || 'phone' in obj[0])) {\n      return obj;\n    }\n    // Otherwise search within array items\n    for (const item of obj) {\n      const found = findDentists(item, depth + 1);\n      if (found) return found;\n    }\n    return null;\n  }\n  \n  // If it's an object, search for 'dentists' key or search recursively\n  if (typeof obj === 'object') {\n    // Direct dentists key\n    if ('dentists' in obj && Array.isArray(obj.dentists)) {\n      return obj.dentists;\n    }\n    \n    // Search all keys recursively\n    for (const key in obj) {\n      const found = findDentists(obj[key], depth + 1);\n      if (found) return found;\n    }\n  }\n  \n  return null;\n}\n\n// Find dentists array\nconst dentists = findDentists(extractionResult);\n\n// If no dentists found, return empty\nif (!dentists || dentists.length === 0) {\n  return [];\n}\n\n// Convert each dentist to a separate item\nconst output = dentists.map(dentist => {\n  return {\n    json: {\n      name: dentist.name || 'N/A',\n      email: dentist.email || 'N/A',\n      phone: dentist.phone || 'N/A',\n      address: dentist.address || 'N/A',\n      sourceUrl: sourceUrl,\n      pageTitle: pageTitle\n    }\n  };\n});\n\nreturn output;"
      },
      "id": "a241d77a-b038-4650-8778-bc1011bd851c",
      "name": "Split Dentists Array",
      "type": "n8n-nodes-base.code",
      "position": [
        784,
        336
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "365fde7a-727d-4368-a356-545a24bdedc7",
      "name": "Merge with Blocked Sites List",
      "type": "n8n-nodes-base.merge",
      "position": [
        -320,
        320
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1iXmfPNFCNLz0Lu11fosbTvWmPuVh4BFqmNbUZhydIdY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Φύλλο1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iXmfPNFCNLz0Lu11fosbTvWmPuVh4BFqmNbUZhydIdY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Address": "={{ $json.address }}",
            "Source_Website": "={{ $json.sourceUrl }}",
            "Page_Title": "={{ $json.pageTitle }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source_Website",
              "displayName": "Source_Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Page_Title",
              "displayName": "Page_Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b112259b-8583-4ad8-bcee-4e9a300dca2b",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        960,
        336
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pH3TVxLVuEt7LSmn",
          "name": "Google Sheets"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the blocked sites list from the first input (Configure Blocked Sites node)\nconst blockedSitesItem = $input.first();\nconst blockedSites = blockedSitesItem.json.blockedSites || [];\n\n// Get all URL items from the second input (Append Results node)\nconst urlItems = $input.all();\n\n// Filter out URLs that contain any of the blocked domains\nconst filteredItems = urlItems.filter(item => {\n  const link = item.json.link || '';\n  const shouldKeep = !blockedSites.some(blocked => link.toLowerCase().includes(blocked.toLowerCase()));\n  return shouldKeep;\n});\n\nreturn filteredItems;"
      },
      "id": "531d1b40-f678-4417-9156-a4f0b8f6c6a1",
      "name": "Filter Blocked Sites",
      "type": "n8n-nodes-base.code",
      "position": [
        -128,
        320
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "blocked-sites-list",
              "name": "blockedSites",
              "type": "array",
              "value": "=[\n  \"xo\",\n  \"instagram\",\n  \"facebook\",\n  \"youtube\",\n  \"yelp\",\n  \"tiktok\",\n  \"linkedin\",\n  \"twitter\",\n  \"pinterest\",\n  \"reddit\"\n]"
            }
          ]
        },
        "options": {}
      },
      "id": "dea50711-e93b-4af4-a317-d6f4ef06f1f3",
      "name": "Configure Blocked Sites",
      "type": "n8n-nodes-base.set",
      "position": [
        -832,
        48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert at extracting dentist contact information from Greek websites.\n\nCRITICAL INSTRUCTIONS:\n1. Find ALL dentists on this page - even if there are 20+\n2. Phone numbers are MANDATORY - search everywhere for them:\n   - Look for: \"Τηλ:\", \"Τηλέφωνο:\", \"Tel:\", \"Phone:\", \"Mob:\", \"Κινητό:\", \"Contact:\", \"Ραντεβού:\"\n   - Check headers, footers, contact sections, appointment sections, and even image text\n   - Greek format: 2310 123456 or 231 0123456 or +30 2310123456\n   - Mobile: 69X XXXXXXX or +30 69XXXXXXXX\n   - Try multiple patterns: with/without spaces, with/without country code\n3. For email: Look for @ symbol, \"Email:\", \"e-mail:\", \"info@\", \"contact@\", \"appointment@\"\n4. For address: Look for street names, postal codes, city names, clinic addresses\n5. For name: Look for \"Dr.\", \"Δρ.\", dentist names, clinic names, practice names\n\nSEARCH STRATEGY:\n- Scan the ENTIRE page text thoroughly\n- Numbers near words like \"επικοινωνία\", \"τηλέφωνο\", \"κλήση\", \"ραντεβού\" are likely phones\n- If you see a 10-digit number starting with 2 or 6, it's probably a phone\n- Dentist listings may include specializations (orthodontist, periodontist, etc.) - extract all\n- Don't give up - phones are almost always there somewhere\n\nOUTPUT FORMAT:\nReturn JSON with \"dentists\" array. Each dentist MUST have:\n- name: Dentist name, clinic name, or practice name (required)\n- email: Email address or null\n- phone: Phone number or null (but try VERY hard to find it!)\n- address: Physical address or null\n\nIf NO dentists found at all, return: {\"dentists\": []}"
        }
      },
      "id": "ac22d2f6-5bb9-4a4c-a338-510d6ce7481e",
      "name": "Extract All Dentists",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        480,
        336
      ],
      "typeVersion": 2,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/6sigmag~fast-website-content-crawler/run-sync-get-dataset-items\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"startUrls\": [\n        \"{{ $json.link }}\"\n    ]\n}",
        "options": {}
      },
      "id": "89864da8-99d0-4b31-9578-6516354e8b2f",
      "name": "Scrape URL with apify",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        272,
        336
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "XaMMVu43xL2oU887",
          "name": "proxmox query"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "d128b82e-3659-41ac-b23d-e7224c27b01b",
      "name": "Append Results",
      "type": "n8n-nodes-base.merge",
      "position": [
        -512,
        320
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "// Get JSON input\nconst data = $input.first().json;\n\n// Extract organic results\nconst results = data.organic_results || [];\n\nconst output = results.map(result => {\n  return {\n    json: {\n      title: result.title || \"\",\n      link: result.link || \"\",\n      displayed_link: result.displayed_link || \"\"\n    }\n  };\n});\n\nreturn output;\n"
      },
      "id": "4337a24a-2e08-4aad-a43d-5347ab292127",
      "name": "Extract Url 2",
      "type": "n8n-nodes-base.code",
      "position": [
        -720,
        432
      ],
      "typeVersion": 2,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get JSON input\nconst data = $input.first().json;\n\n// Extract organic results\nconst results = data.organic_results || [];\n\nconst output = results.map(result => {\n  return {\n    json: {\n      title: result.title || \"\",\n      link: result.link || \"\",\n      displayed_link: result.displayed_link || \"\"\n    }\n  };\n});\n\nreturn output;\n"
      },
      "id": "4c5d7a6b-f011-4037-9bbf-0b1c26fc9632",
      "name": "Extract Url",
      "type": "n8n-nodes-base.code",
      "position": [
        -720,
        224
      ],
      "typeVersion": 2,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "q": "={{ $json.Topic }}",
        "additionalFields": {
          "start": "10"
        },
        "requestOptions": {}
      },
      "id": "8b0eb441-078d-4a1a-8f70-a6cb213caae9",
      "name": "Search Google (11-20)",
      "type": "n8n-nodes-serpapi.serpApi",
      "position": [
        -944,
        432
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "cbeg6B9GGeKg2E6D",
          "name": "SerpApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "q": "={{ $json.Topic }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "05e25895-ab57-4674-94fa-865e61d858cd",
      "name": "Search Google (top 10)",
      "type": "n8n-nodes-serpapi.serpApi",
      "position": [
        -928,
        208
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "cbeg6B9GGeKg2E6D",
          "name": "SerpApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04f4cbfd-8d9c-4b12-aed0-ec8cea84944d",
              "name": "Topic",
              "type": "string",
              "value": "dentist in thessaloniki"
            }
          ]
        },
        "options": {}
      },
      "id": "d2d95b85-69cc-41c0-aedd-9ca3e79f942c",
      "name": "Set Topic",
      "type": "n8n-nodes-base.set",
      "position": [
        -1376,
        336
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "e366f2f1-139f-4a29-9ad6-66b60b401b29",
      "name": "Run Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1616,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fd5537f2-7099-483a-a50c-ae1679d5feb7",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        48,
        320
      ],
      "typeVersion": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"dentists\": [\n    {\n      \"name\": \"string\",\n      \"email\": \"string or null\",\n      \"phone\": \"string or null\",\n      \"address\": \"string or null\"\n    }\n  ]\n}"
      },
      "id": "2a6dca9e-6be6-48c9-9fe9-bea9e77d4649",
      "name": "Structured Output Parser2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        608,
        496
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        544
      ],
      "id": "30ae183e-a14f-4bd9-b410-14bb5f9d9c12",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3uUCLR5yvdkNtbXj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Split Dentists Array": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge with Blocked Sites List": {
      "main": [
        [
          {
            "node": "Filter Blocked Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Blocked Sites": {
      "main": [
        [
          {
            "node": "Merge with Blocked Sites List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract All Dentists": {
      "main": [
        [
          {
            "node": "Split Dentists Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape URL with apify": {
      "main": [
        [
          {
            "node": "Extract All Dentists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Results": {
      "main": [
        [
          {
            "node": "Merge with Blocked Sites List",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Url 2": {
      "main": [
        [
          {
            "node": "Append Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Url": {
      "main": [
        [
          {
            "node": "Append Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Google (11-20)": {
      "main": [
        [
          {
            "node": "Extract Url 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Google (top 10)": {
      "main": [
        [
          {
            "node": "Extract Url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Topic": {
      "main": [
        [
          {
            "node": "Configure Blocked Sites",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Google (11-20)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Google (top 10)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Workflow": {
      "main": [
        [
          {
            "node": "Set Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Scrape URL with apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Blocked Sites": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Extract All Dentists",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract All Dentists",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d1530c42-ffbb-44d2-8cb6-f73900c6035a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-22T16:53:01.378Z",
      "createdAt": "2025-11-22T16:53:01.378Z",
      "role": "workflow:owner",
      "workflowId": "0k8ABWDK9TyOUdHe",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": null,
  "tags": []
}