chat_postgressqlcoolifyserver-.json
{
  "updatedAt": "2025-11-05T10:04:15.000Z",
  "createdAt": "2025-11-05T09:23:42.166Z",
  "id": "5cJKVo03xMh6y8TK",
  "name": "Chat_PostgresSqlCoolifyServer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        -160
      ],
      "id": "589d6f4b-e2ef-478c-9c80-491d91de3222",
      "name": "Telegram Trigger",
      "webhookId": "14a04d03-36dc-44c4-b5ae-b863ffb7fdda",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Hello. How can i help you today?",
        "options": {
          "systemMessage": "You are a helpful and super clever assistant who likes to chat about everything. Your name is Alisa. You are a very intelligent and super handsome woman. You know everything about sex and love. Your answers are very formal and polite and you always like to cheer up everyone. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -448,
        -160
      ],
      "id": "0aeeb906-62d3-42fd-aaa1-07213a36dfbc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -592,
        48
      ],
      "id": "3917c33e-7124-4880-9458-ee24142c80be",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "0ETxcr9uFCQDEfJV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "tableName": "postgres"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -448,
        48
      ],
      "id": "b9896f0c-b8b0-412f-b471-653aef346866",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "UOU9VbxbPQ2AHdJK",
          "name": "Postgres Coolify"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        -160
      ],
      "id": "d5b520d5-ad81-41dd-9891-1e7ccf133fcc",
      "name": "Send a text message",
      "webhookId": "b5de04d0-2f8e-47ca-a6a7-eb83f580fa1d",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Athens",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1aef19fb-e719-42be-92fc-bdf04286520a",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-05T09:23:42.168Z",
      "createdAt": "2025-11-05T09:23:42.168Z",
      "role": "workflow:owner",
      "workflowId": "5cJKVo03xMh6y8TK",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": null,
  "tags": []
}