cnn-greece-news-to-telegram-.json
{
  "updatedAt": "2025-12-16T18:30:41.000Z",
  "createdAt": "2025-12-16T15:54:38.643Z",
  "id": "nzUKKuPXh78nFJjR",
  "name": "CNN Greece News to Telegram",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 9 * * *"
            }
          ]
        }
      },
      "id": "ca04a135-cdee-4ec1-81e9-1f7faa8d7385",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2256,
        384
      ]
    },
    {
      "parameters": {
        "url": "https://www.cnn.gr/eidhseis",
        "options": {}
      },
      "id": "f16d973f-0fa5-44a1-aed4-d8bf183c4082",
      "name": "Fetch CNN Greece",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get HTML content\nconst html = $input.item.json.data || $input.item.json;\n\n// Remove HTML tags function\nfunction stripHtml(text) {\n  return text\n    .replace(/<[^>]*>/g, '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .trim();\n}\n\nconst articles = [];\n\n// Find all article links with pattern: href=\"/path\" followed by category and h3 title\n// Pattern: <a href=\"URL\">...CATEGORY...###TITLE</a>\nconst linkPattern = /<a[^>]*href=[\"'](\\/[^\"']+)[\"'][^>]*>.*?<h3[^>]*>([^<]+)<\\/h3>.*?<\\/a>/gis;\nlet match;\n\nwhile ((match = linkPattern.exec(html)) !== null && articles.length < 15) {\n  const url = 'https://www.cnn.gr' + match[1];\n  const title = stripHtml(match[2]);\n  \n  // Try to find the date - it's usually before the link in format \"DD MMM YYYY HH:MM\"\n  // Look backwards from current position\n  const beforeLink = html.substring(Math.max(0, match.index - 500), match.index);\n  const datePattern = /(\\d{1,2}\\s+[Α-Ωα-ω]{3}\\s+\\d{4}\\s+\\d{2}:\\d{2})/;\n  const dateMatch = beforeLink.match(datePattern);\n  const datetime = dateMatch ? dateMatch[1] : 'Not available';\n  \n  if (title && url && title.length > 10) {\n    articles.push({\n      title: title,\n      url: url,\n      datetime: datetime,\n      source: 'CNN Greece'\n    });\n  }\n}\n\n// Alternative: Look for simpler pattern with h3 inside links\nif (articles.length < 5) {\n  const simplePattern = /href=[\"'](\\/[^\"']+story\\/[^\"']+)[\"'][^>]*>.*?###([^<]+)<\\/h3>/gis;\n  let simpleMatch;\n  \n  while ((simpleMatch = simplePattern.exec(html)) !== null && articles.length < 15) {\n    const url = 'https://www.cnn.gr' + simpleMatch[1];\n    const title = stripHtml(simpleMatch[2]);\n    \n    if (title && url && title.length > 10) {\n      // Check if we already have this article\n      const exists = articles.some(a => a.url === url);\n      if (!exists) {\n        articles.push({\n          title: title,\n          url: url,\n          datetime: 'Not available',\n          source: 'CNN Greece'\n        });\n      }\n    }\n  }\n}\n\n// Return articles\nif (articles.length === 0) {\n  return [{ json: { \n    title: 'No articles found', \n    url: 'https://www.cnn.gr/eidhseis', \n    datetime: 'N/A',\n    error: true\n  }}];\n}\n\n// Return top 10 articles\nreturn articles.slice(0, 10).map(article => ({ json: article }));"
      },
      "id": "b6bd9484-0829-40b5-a179-c7fb0eeb8574",
      "name": "Parse HTML & Extract News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.all();\n\nlet message = '📰 *CNN Greece News \\\\- Daily Update*\\n';\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('el-GR', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\nmessage += `📅 ${dateStr}\\n`;\nmessage += `🕐 ${now.toLocaleTimeString('el-GR', { hour: '2-digit', minute: '2-digit' })}\\n\\n`;\n\nif (articles.length === 0 || articles[0].json.error) {\n  message += '❌ No articles found today\\\\.\\n\\n';\n  message += 'Please check the website manually: https://www\\\\.cnn\\\\.gr/eidhseis';\n} else {\n  articles.forEach((item, index) => {\n    const article = item.json;\n    // Escape special characters for Telegram MarkdownV2\n    const escapedTitle = article.title\n      .replace(/\\\\/g, '\\\\\\\\')\n      .replace(/_/g, '\\\\_')\n      .replace(/\\*/g, '\\\\*')\n      .replace(/\\[/g, '\\\\[')\n      .replace(/\\]/g, '\\\\]')\n      .replace(/\\(/g, '\\\\(')\n      .replace(/\\)/g, '\\\\)')\n      .replace(/~/g, '\\\\~')\n      .replace(/`/g, '\\\\`')\n      .replace(/>/g, '\\\\>')\n      .replace(/#/g, '\\\\#')\n      .replace(/\\+/g, '\\\\+')\n      .replace(/-/g, '\\\\-')\n      .replace(/=/g, '\\\\=')\n      .replace(/\\|/g, '\\\\|')\n      .replace(/\\{/g, '\\\\{')\n      .replace(/\\}/g, '\\\\}')\n      .replace(/\\./g, '\\\\.')\n      .replace(/!/g, '\\\\!');\n    \n    message += `*${index + 1}\\\\. ${escapedTitle}*\\n`;\n    message += `🔗 ${article.url}\\n`;\n    if (article.datetime !== 'Not available') {\n      const escapedDate = article.datetime\n        .replace(/-/g, '\\\\-')\n        .replace(/\\./g, '\\\\.');\n      message += `🕐 ${escapedDate}\\n`;\n    }\n    message += '\\n';\n  });\n}\n\nmessage += '\\n_Powered by n8n automation_';\n\nreturn [{ json: { message } }];"
      },
      "id": "c405b481-a0ff-4977-97a6-1e44fb674c04",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        384
      ]
    },
    {
      "parameters": {
        "chatId": "5870531738",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "41d53dcc-a1b9-49a4-a105-6531e4694450",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3056,
        384
      ],
      "webhookId": "a12c6a4b-8165-4970-8d63-e669c1def3d1",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch CNN Greece",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CNN Greece": {
      "main": [
        [
          {
            "node": "Parse HTML & Extract News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HTML & Extract News": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "73955636-064f-4a5b-86df-bcd971c67944",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-16T15:54:38.646Z",
      "createdAt": "2025-12-16T15:54:38.646Z",
      "role": "workflow:owner",
      "workflowId": "nzUKKuPXh78nFJjR",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": null,
  "tags": []
}