generatepassword_encodepassword_updatepasswordldap-.json
{
  "updatedAt": "2025-11-04T13:47:50.405Z",
  "createdAt": "2025-11-04T13:47:50.405Z",
  "id": "HMGQem4uGIzdby8N",
  "name": "GeneratePassword_EncodePassword_UpdatePasswordLDAP",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "7a399287-2633-4a10-b156-c37a2af6c695",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dn": "=CN=user test,OU=Test,DC=mydomain,DC=gr",
        "attributes": {
          "replace": [
            {
              "id": "unicodePwd",
              "value": "={{ $json.password }}"
            }
          ]
        }
      },
      "id": "501def8c-4900-4812-97f7-4397bdb3e8fe",
      "name": "Replace",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        64,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "function generateRandomPassword(minLength, maxLength) {\n    // Define characters to use in the password\n    const lowercase = 'abcdefghijklmnopqrstuvwxyz';\n    const uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';\n    const numbers = '0123456789';\n    const specialCharacters = '!@#$%^&*_+';\n\n    // Combine all character sets\n    const allCharacters = lowercase + uppercase + numbers + specialCharacters;\n\n    // Calculate the password length within the given range\n    const passwordLength = Math.floor(Math.random() * (maxLength - minLength + 1)) + minLength;\n\n    // Initialize the password\n    let password = '';\n\n    // Ensure the password includes at least one character from each character set\n    password += lowercase.charAt(Math.floor(Math.random() * lowercase.length));\n    password += uppercase.charAt(Math.floor(Math.random() * uppercase.length));\n    password += numbers.charAt(Math.floor(Math.random() * numbers.length));\n    password += specialCharacters.charAt(Math.floor(Math.random() * specialCharacters.length));\n\n    // Fill the rest of the password with random characters from all character sets\n    for (let i = password.length; i < passwordLength; i++) {\n        password += allCharacters.charAt(Math.floor(Math.random() * allCharacters.length));\n    }\n\n    // Shuffle the password to ensure randomness\n    password = password.split('').sort(() => Math.random() - 0.5).join('');\n\n    return password;\n}\n\n// Example usage:\nconst minLength = 8;\nconst maxLength = 8;\nconst password = generateRandomPassword(minLength, maxLength);\nreturn ([{\"password\": password}]);"
      },
      "id": "62c7e3d0-1f8b-4789-9a5f-61c95efa8b52",
      "name": "Generate Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "function encodePassword(password) {\n    var newPassword = '';\n    password = \"\\\"\" + password + \"\\\"\";\n    for(var i = 0; i < password.length; i++){\n        newPassword += String.fromCharCode( password.charCodeAt(i) & 0xFF,(password.charCodeAt(i) >>> 8) & 0xFF);\n    }\n    return newPassword;\n}\n\nconst newPassword = $input.all()[0].json.password;\n\nsetPassword = encodePassword(newPassword);\n\nreturn ([{\"password\": setPassword}]);"
      },
      "id": "f5e454cf-cf00-400f-9589-bc250feecda5",
      "name": "Encode Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -192
      ]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Generate Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Password": {
      "main": [
        [
          {
            "node": "Encode Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode Password": {
      "main": [
        [
          {
            "node": "Replace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "44814e3d-3103-451c-934d-fd99f80eef5d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-04T13:47:50.407Z",
      "createdAt": "2025-11-04T13:47:50.407Z",
      "role": "workflow:owner",
      "workflowId": "HMGQem4uGIzdby8N",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": null,
  "tags": []
}