generate-ai-songs-from-text-prompts-with-suno,-openai,-google-drive-and-slack-.json
{
  "updatedAt": "2026-04-17T19:18:39.982Z",
  "createdAt": "2026-04-17T19:18:39.982Z",
  "id": "DjeVfDDTPyE7jOno",
  "name": "Generate AI songs from text prompts with Suno, OpenAI, Google Drive and Slack",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## 🎵 n8n Suno Music Automation\n### Generate Custom AI Songs from Text Prompts\n\nBuild a fully automated music generation workflow in n8n using Suno to create and store AI-generated songs.\n\n### What's the Goal?\nAutomate end-to-end AI music creation — from a simple text prompt to a fully generated, stored, and shareable song — using Suno's API inside n8n with zero manual effort.\n\n### Why Does It Matter?\nAI music generation is powerful but manual. This workflow lets you batch-generate songs, integrate music into apps or content pipelines, and store outputs automatically — saving hours of repetitive work.\n\n### How It Works\n1. Webhook or Schedule triggers the flow with a text prompt\n2. Prompt is enriched/formatted for best Suno results\n3. Suno API call initiates song generation\n4. Workflow polls until song is ready (async wait loop)\n5. Song metadata & audio URL retrieved\n6. File downloaded and saved to cloud storage (Google Drive / S3)\n7. Metadata logged to Google Sheets / Airtable\n8. Notification sent via Slack / Email\n\n### Configuration Requirements\n- Suno API key (via RapidAPI or official Suno API access)\n- Cloud storage credentials (Google Drive / AWS S3)\n- Google Sheets or Airtable credentials (for logging)\n- Slack Bot Token or SMTP (for notifications)\n- Optional: OpenAI API key (for prompt enrichment)\n\n### Setup Guide\n1. Import workflow into n8n\n2. Connect credentials (Suno/RapidAPI, Google Drive, Sheets, Slack)\n3. Configure Set node: default genre, mood, duration, style tags\n4. Test with a manual trigger and a sample prompt\n5. Activate webhook → send prompts to trigger URL\n6. Monitor generation status and tune polling interval\n7. Check storage & logs for generated songs\n\n",
        "height": 956,
        "width": 1140
      },
      "id": "7ce6840b-f4d2-48b1-957c-72ef2cc6c76d",
      "name": "Overview & Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 1. Trigger & Prompt Input\nWebhook or schedule → receive and prepare the music prompt",
        "height": 740,
        "width": 432,
        "color": 3
      },
      "id": "6f8087b3-7fc1-457d-85f7-f3b9413791f0",
      "name": "1. Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Prompt Enrichment\nUse AI to enhance prompt with genre, mood & style tags for best Suno output",
        "height": 720,
        "width": 200,
        "color": 5
      },
      "id": "55521757-9241-4014-a9c5-f0a502a5f96a",
      "name": "2. Enrichment Phase",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Suno Generation & Polling\nSubmit to Suno API → poll until song is ready",
        "height": 700,
        "width": 1104,
        "color": 4
      },
      "id": "102f7f37-dc19-4330-a8ca-43401780d440",
      "name": "3. Suno Phase",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2720,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. Store, Log & Notify\nDownload audio → Cloud Storage → Log → Slack alert",
        "height": 696,
        "width": 680,
        "color": 3
      },
      "id": "0c909a7e-4f80-4466-8bfc-a7da4053ddec",
      "name": "4. Storage & Output",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3824,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "suno-generate-song",
        "options": {}
      },
      "id": "442802db-9904-40a0-b1a6-4daa1e8f50e0",
      "name": "Webhook: Receive Prompt",
      "type": "n8n-nodes-base.webhook",
      "position": [
        2096,
        704
      ],
      "webhookId": "generated-on-import",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "aae08c5c-0e38-41ed-baac-0a5dd6128b70",
      "name": "Daily Batch (fallback)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2096,
        896
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "default_prompt",
              "value": "An uplifting electronic pop song about chasing your dreams"
            },
            {
              "name": "genre",
              "value": "pop"
            },
            {
              "name": "mood",
              "value": "uplifting"
            },
            {
              "name": "style_tags",
              "value": "electronic, energetic, modern"
            },
            {
              "name": "duration_seconds",
              "value": "60"
            },
            {
              "name": "storage_folder",
              "value": "AI-Generated-Songs"
            },
            {
              "name": "log_sheet_id",
              "value": "your-google-sheet-id-here"
            }
          ]
        },
        "options": {}
      },
      "id": "f5080e4a-10bc-4b0a-b5d0-becc41126dd2",
      "name": "Set Music Config",
      "type": "n8n-nodes-base.set",
      "position": [
        2320,
        800
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://suno-api.p.rapidapi.com/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "suno-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $credentials.rapidApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.message.content }}"
            },
            {
              "name": "tags",
              "value": "={{ $('Set Music Config').item.json.style_tags }}"
            },
            {
              "name": "make_instrumental",
              "value": "false"
            },
            {
              "name": "wait_audio",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "ccaf90de-c02c-468b-b2a4-57a057b11d39",
      "name": "Suno: Submit Generation Job",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2768,
        800
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {},
      "id": "1949fb9d-c581-4e8c-9b81-11454fbac54c",
      "name": "Wait 30s (Polling Delay)",
      "type": "n8n-nodes-base.wait",
      "position": [
        2992,
        800
      ],
      "webhookId": "poll-wait-suno-001",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://suno-api.p.rapidapi.com/get?ids={{ $('Suno: Submit Generation Job').item.json[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "suno-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $credentials.rapidApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "125ffb37-c45b-49f9-8bd6-1b8200b9707b",
      "name": "Suno: Poll Song Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3216,
        800
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[0].status }}",
              "value2": "complete"
            }
          ]
        }
      },
      "id": "8a5ad676-94a1-47a4-bd05-53ffc8d2e971",
      "name": "Song Ready?",
      "type": "n8n-nodes-base.if",
      "position": [
        3440,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json[0].audio_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "21ce21ad-68af-44f2-8124-141aecc3ec11",
      "name": "Download Audio File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3664,
        704
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "name": "={{ $('Suno: Poll Song Status').item.json[0].title || 'ai-song-' + $now.toFormat('yyyyMMdd-HHmmss') }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "mode": "string",
          "value": "={{ $('Set Music Config').item.json.storage_folder }}"
        },
        "options": {}
      },
      "id": "a6bf6e4c-963d-491e-8cd4-33cf922ffdfb",
      "name": "Google Drive: Save Song",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3888,
        704
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EPjI9NCOANqdMBKb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "string",
          "value": "={{ $('Set Music Config').item.json.log_sheet_id }}"
        },
        "sheetName": {
          "mode": "string",
          "value": "Song Log"
        },
        "columns": {
          "value": {
            "Title": "={{ $('Suno: Poll Song Status').item.json[0].title }}",
            "Prompt": "={{ $('OpenAI: Enrich Prompt').item.json.message.content }}",
            "Song ID": "={{ $('Suno: Poll Song Status').item.json[0].id }}",
            "Duration": "={{ $('Suno: Poll Song Status').item.json[0].duration }}",
            "Audio URL": "={{ $('Suno: Poll Song Status').item.json[0].audio_url }}",
            "Image URL": "={{ $('Suno: Poll Song Status').item.json[0].image_url }}",
            "Generated At": "={{ $now.toISO() }}",
            "Drive File ID": "={{ $json.id }}"
          },
          "mappingMode": "defineBelow"
        },
        "options": {}
      },
      "id": "b298b099-4b19-4124-aada-9b2b6b005f69",
      "name": "Google Sheets: Log Song",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4112,
        704
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pH3TVxLVuEt7LSmn",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "channel": "music-generation",
        "text": "={{ '🎵 New AI Song Generated!\\n\\n*Title:* ' + $('Suno: Poll Song Status').item.json[0].title + '\\n*Prompt:* ' + $('OpenAI: Enrich Prompt').item.json.message.content + '\\n*Listen:* ' + $('Suno: Poll Song Status').item.json[0].audio_url + '\\n*Saved to Drive ✅*' }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "d061b43c-3efc-4b95-8c45-8e0fd5abb8cc",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        4336,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "channel": "music-generation",
        "text": "={{ '❌ Song Generation Failed\\n\\n*Job ID:* ' + $('Suno: Submit Generation Job').item.json[0].id + '\\n*Status:* ' + $json[0].status + '\\n*Error:* ' + ($json[0].error_message || 'Unknown error') }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "cfcc044e-1acd-4d89-a9cc-831cdddb718e",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.slack",
      "position": [
        3664,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "conversation",
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "fca14269-5014-4cba-b5c1-6d5a66398e9a",
      "name": "OpenAI: Enrich Prompt",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2560,
        816
      ],
      "typeVersion": 2.1
    }
  ],
  "connections": {
    "Song Ready?": {
      "main": [
        [
          {
            "node": "Download Audio File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Music Config": {
      "main": [
        [
          {
            "node": "OpenAI: Enrich Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio File": {
      "main": [
        [
          {
            "node": "Google Drive: Save Song",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Enrich Prompt": {
      "main": [
        [
          {
            "node": "Suno: Submit Generation Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Batch (fallback)": {
      "main": [
        [
          {
            "node": "Set Music Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suno: Poll Song Status": {
      "main": [
        [
          {
            "node": "Song Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive: Save Song": {
      "main": [
        [
          {
            "node": "Google Sheets: Log Song",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Log Song": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Receive Prompt": {
      "main": [
        [
          {
            "node": "Set Music Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (Polling Delay)": {
      "main": [
        [
          {
            "node": "Suno: Poll Song Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suno: Submit Generation Job": {
      "main": [
        [
          {
            "node": "Wait 30s (Polling Delay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "13826"
  },
  "pinData": {},
  "versionId": "13343926-1d22-43ae-986b-e941a15c9098",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-17T19:18:39.988Z",
      "createdAt": "2026-04-17T19:18:39.988Z",
      "role": "workflow:owner",
      "workflowId": "DjeVfDDTPyE7jOno",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": null,
  "tags": []
}