greek-fuel-prices-.json
{
  "updatedAt": "2026-04-18T10:25:33.594Z",
  "createdAt": "2026-04-18T07:18:00.318Z",
  "id": "VfdfGU8R38PQ3qie",
  "name": "Greek fuel prices",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://www.fuelprices.gr/price_stats_ng.view?prodclass=4a&order_by=4&time=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -592,
        -208
      ],
      "id": "ccf2598c-956f-4433-848c-5913a397b616",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "=data",
        "extractionValues": {
          "values": [
            {
              "key": "dates",
              "cssSelector": "table[width=\"640\"] tr[bgcolor=\"#E1DDCD\"] td:nth-child(1)",
              "returnArray": true
            },
            {
              "key": "min_prices",
              "cssSelector": "table[width=\"640\"] tr[bgcolor=\"#E1DDCD\"] td:nth-child(3)",
              "returnArray": true
            },
            {
              "key": "avg_prices",
              "cssSelector": "table[width=\"640\"] tr[bgcolor=\"#E1DDCD\"] td:nth-child(4)",
              "returnArray": true
            },
            {
              "key": "max_prices",
              "cssSelector": "table[width=\"640\"] tr[bgcolor=\"#E1DDCD\"] td:nth-child(5)",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -320,
        -208
      ],
      "id": "877c6cd5-a7ef-403c-9ebe-b0eae085b333",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "const datesArray = $input.all()[0].json.dates;\nconst minArray = $input.all()[0].json.min_prices;\nconst avgArray = $input.all()[0].json.avg_prices;\nconst maxArray = $input.all()[0].json.max_prices;\n\nconst cleanData = [];\nconst currentYear = 2026; \n\nfor (let i = 7; i < datesArray.length; i++) {\n    let avgIdx = i - 6; \n    let minIdx = i - 4;\n    let maxIdx = i - 6;\n\n    if (avgArray[avgIdx] && avgArray[avgIdx].includes(',')) {\n        // 1. Extract the \"DD/MM\" part from \"Παρ, 17/04\"\n        const rawDate = datesArray[i].split(' ')[1]; // Gets \"17/04\"\n        const [day, month] = rawDate.split('/');\n        \n        // 2. Format as DD-MM-YYYY\n        const formattedDate = `${day}-${month}-${currentYear}`;\n\n        cleanData.push({\n            date: formattedDate,\n            min_price: parseFloat(minArray[minIdx].replace(',', '.')),\n            avg_price: parseFloat(avgArray[avgIdx].replace(',', '.')),\n            max_price: parseFloat(maxArray[maxIdx].replace(',', '.')),\n            fuel_type: \"Diesel Kinisis & Enisximeno\"\n        });\n    }\n}\n\nreturn cleanData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -208
      ],
      "id": "d8df9906-4a2e-4365-8adb-a628010923b6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -816,
        -208
      ],
      "id": "2e9001c7-93ae-4416-997b-5075adba9822",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        96,
        -208
      ],
      "id": "138912e6-9981-4ddd-9796-1a37ac716cdd",
      "name": "Limit"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "=",
              "includeEmpty": true
            },
            {
              "aggregation": "append",
              "field": "date"
            },
            {
              "aggregation": "append",
              "field": "avg_price"
            },
            {
              "aggregation": "append",
              "field": "min_price"
            },
            {
              "aggregation": "append",
              "field": "max_price"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        336,
        -208
      ],
      "id": "7de933de-53fd-47fa-b248-37c8a6ee4cf3",
      "name": "Summarize"
    },
    {
      "parameters": {
        "jsCode": "// Access the aggregated data from the Summarize node\nconst data = $input.all()[0].json;\n\nlet tableRows = '';\n\n// Loop through the data to build each row\nfor (let i = 0; i < data.appended_date.length; i++) {\n  tableRows += `\n    <tr>\n      <td style=\"border: 1px solid #ddd; padding: 10px;\">${data.appended_date[i]}</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px; text-align: center;\">${data.appended_min_price[i]}€</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px; text-align: center;\">${data.appended_avg_price[i]}€</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px; text-align: center;\">${data.appended_max_price[i]}€</td>\n    </tr>\n  `;\n}\n\nconst htmlContent = `\n<div style=\"font-family: Arial, sans-serif; max-width: 600px; color: #333;\">\n  <h2 style=\"color: #004a99; border-bottom: 2px solid #004a99; padding-bottom: 10px;\">\n    Daily Fuel Price Report (Last 5 Days)\n  </h2>\n  <table style=\"border-collapse: collapse; width: 100%; margin-top: 15px;\">\n    <thead>\n      <tr style=\"background-color: #004a99; color: white;\">\n        <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">Ημερομηνία</th>\n        <th style=\"padding: 12px; border: 1px solid #ddd;\">Ελάχιστη Τιμή</th>\n        <th style=\"padding: 12px; border: 1px solid #ddd;\">Μέση Τιμή</th>\n        <th style=\"padding: 12px; border: 1px solid #ddd;\">Μέγιστη Τιμή</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${tableRows}\n    </tbody>\n  </table>\n  <p style=\"font-size: 11px; color: #888; margin-top: 20px;\">\n    Πηγή: Παρατηρητήριο Τιμών Υγρών Καυσίμων (fuelprices.gr)\n  </p>\n</div>\n`;\n\nreturn { htmlTable: htmlContent };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -208
      ],
      "id": "2a80dd2a-0706-417f-b5d7-6062eb67bd55",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "seremvas76@gmail.com",
        "subject": "Greek Fuel Price Report - Last 5 Days (DIESEL ΚΙΝΗΣΗΣ & ΕΝΙΣΧΥΜΕΝΟ)",
        "message": "={{ $json.htmlTable }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        -208
      ],
      "id": "e387d361-e802-46bf-8dfd-78e4b7584e3c",
      "name": "Send a message",
      "webhookId": "967ead5c-969c-4d76-ae73-db2fffc059bd",
      "credentials": {
        "gmailOAuth2": {
          "id": "WBaGzd89qjgz8bxH",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Athens",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "g6VSaJXbw9uphgte"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "969f3e14-a092-4fa2-b51e-1a4b90c01109",
  "activeVersionId": "969f3e14-a092-4fa2-b51e-1a4b90c01109",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-18T07:18:00.323Z",
      "createdAt": "2026-04-18T07:18:00.323Z",
      "role": "workflow:owner",
      "workflowId": "VfdfGU8R38PQ3qie",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-18T10:25:33.594Z",
    "createdAt": "2026-04-18T10:25:33.594Z",
    "versionId": "969f3e14-a092-4fa2-b51e-1a4b90c01109",
    "workflowId": "VfdfGU8R38PQ3qie",
    "nodes": [
      {
        "parameters": {
          "url": "https://www.fuelprices.gr/price_stats_ng.view?prodclass=4a&order_by=4&time=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -592,
          -208
        ],
        "id": "ccf2598c-956f-4433-848c-5913a397b616",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "dataPropertyName": "=data",
          "extractionValues": {
            "values": [
              {
                "key": "dates",
                "cssSelector": "table[width=\"640\"] tr[bgcolor=\"#E1DDCD\"] td:nth-child(1)",
                "returnArray": true
              },
              {
                "key": "min_prices",
                "cssSelector": "table[width=\"640\"] tr[bgcolor=\"#E1DDCD\"] td:nth-child(3)",
                "returnArray": true
              },
              {
                "key": "avg_prices",
                "cssSelector": "table[width=\"640\"] tr[bgcolor=\"#E1DDCD\"] td:nth-child(4)",
                "returnArray": true
              },
              {
                "key": "max_prices",
                "cssSelector": "table[width=\"640\"] tr[bgcolor=\"#E1DDCD\"] td:nth-child(5)",
                "returnArray": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          -320,
          -208
        ],
        "id": "877c6cd5-a7ef-403c-9ebe-b0eae085b333",
        "name": "HTML"
      },
      {
        "parameters": {
          "jsCode": "const datesArray = $input.all()[0].json.dates;\nconst minArray = $input.all()[0].json.min_prices;\nconst avgArray = $input.all()[0].json.avg_prices;\nconst maxArray = $input.all()[0].json.max_prices;\n\nconst cleanData = [];\nconst currentYear = 2026; \n\nfor (let i = 7; i < datesArray.length; i++) {\n    let avgIdx = i - 6; \n    let minIdx = i - 4;\n    let maxIdx = i - 6;\n\n    if (avgArray[avgIdx] && avgArray[avgIdx].includes(',')) {\n        // 1. Extract the \"DD/MM\" part from \"Παρ, 17/04\"\n        const rawDate = datesArray[i].split(' ')[1]; // Gets \"17/04\"\n        const [day, month] = rawDate.split('/');\n        \n        // 2. Format as DD-MM-YYYY\n        const formattedDate = `${day}-${month}-${currentYear}`;\n\n        cleanData.push({\n            date: formattedDate,\n            min_price: parseFloat(minArray[minIdx].replace(',', '.')),\n            avg_price: parseFloat(avgArray[avgIdx].replace(',', '.')),\n            max_price: parseFloat(maxArray[maxIdx].replace(',', '.')),\n            fuel_type: \"Diesel Kinisis & Enisximeno\"\n        });\n    }\n}\n\nreturn cleanData;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -112,
          -208
        ],
        "id": "d8df9906-4a2e-4365-8adb-a628010923b6",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 11
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -816,
          -208
        ],
        "id": "2e9001c7-93ae-4416-997b-5075adba9822",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "maxItems": 5
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          96,
          -208
        ],
        "id": "138912e6-9981-4ddd-9796-1a37ac716cdd",
        "name": "Limit"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "append",
                "field": "=",
                "includeEmpty": true
              },
              {
                "aggregation": "append",
                "field": "date"
              },
              {
                "aggregation": "append",
                "field": "avg_price"
              },
              {
                "aggregation": "append",
                "field": "min_price"
              },
              {
                "aggregation": "append",
                "field": "max_price"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          336,
          -208
        ],
        "id": "7de933de-53fd-47fa-b248-37c8a6ee4cf3",
        "name": "Summarize"
      },
      {
        "parameters": {
          "jsCode": "// Access the aggregated data from the Summarize node\nconst data = $input.all()[0].json;\n\nlet tableRows = '';\n\n// Loop through the data to build each row\nfor (let i = 0; i < data.appended_date.length; i++) {\n  tableRows += `\n    <tr>\n      <td style=\"border: 1px solid #ddd; padding: 10px;\">${data.appended_date[i]}</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px; text-align: center;\">${data.appended_min_price[i]}€</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px; text-align: center;\">${data.appended_avg_price[i]}€</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px; text-align: center;\">${data.appended_max_price[i]}€</td>\n    </tr>\n  `;\n}\n\nconst htmlContent = `\n<div style=\"font-family: Arial, sans-serif; max-width: 600px; color: #333;\">\n  <h2 style=\"color: #004a99; border-bottom: 2px solid #004a99; padding-bottom: 10px;\">\n    Daily Fuel Price Report (Last 5 Days)\n  </h2>\n  <table style=\"border-collapse: collapse; width: 100%; margin-top: 15px;\">\n    <thead>\n      <tr style=\"background-color: #004a99; color: white;\">\n        <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">Ημερομηνία</th>\n        <th style=\"padding: 12px; border: 1px solid #ddd;\">Ελάχιστη Τιμή</th>\n        <th style=\"padding: 12px; border: 1px solid #ddd;\">Μέση Τιμή</th>\n        <th style=\"padding: 12px; border: 1px solid #ddd;\">Μέγιστη Τιμή</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${tableRows}\n    </tbody>\n  </table>\n  <p style=\"font-size: 11px; color: #888; margin-top: 20px;\">\n    Πηγή: Παρατηρητήριο Τιμών Υγρών Καυσίμων (fuelprices.gr)\n  </p>\n</div>\n`;\n\nreturn { htmlTable: htmlContent };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          544,
          -208
        ],
        "id": "2a80dd2a-0706-417f-b5d7-6062eb67bd55",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "sendTo": "seremvas76@gmail.com",
          "subject": "Greek Fuel Price Report - Last 5 Days (DIESEL ΚΙΝΗΣΗΣ & ΕΝΙΣΧΥΜΕΝΟ)",
          "message": "={{ $json.htmlTable }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          752,
          -208
        ],
        "id": "e387d361-e802-46bf-8dfd-78e4b7584e3c",
        "name": "Send a message",
        "webhookId": "967ead5c-969c-4d76-ae73-db2fffc059bd",
        "credentials": {
          "gmailOAuth2": {
            "id": "WBaGzd89qjgz8bxH",
            "name": "Gmail account"
          }
        }
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "trelos skilos",
    "name": null,
    "description": null
  },
  "tags": []
}