grok-chat-model-.json
{
  "updatedAt": "2025-11-28T20:51:26.000Z",
  "createdAt": "2025-11-28T20:46:29.122Z",
  "id": "A6PBAQjoCpBnEv0Q",
  "name": "grok chat model",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "979f5eb3-c05d-4e21-9b9b-ea8056bb77a4",
      "name": "Telegram Trigger",
      "webhookId": "8d2a0305-3e74-4b84-8da8-b98e97499130",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.chat.id }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "3705610c-2937-48a4-855b-1ae36cc132ca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "f9225d1e-d4c0-4086-a9e2-ab8c24436325",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "kdgCkpCrW61FR87q",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5870531738",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "5cfc07e3-bb07-4ce3-8f4c-1ef388aaa03c",
      "name": "Send a text message",
      "webhookId": "7ac29e74-b6f9-490e-a014-27a223a28ac7",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4f98fdad-5a2e-4395-a4e9-c3e11b24919b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-28T20:46:29.125Z",
      "createdAt": "2025-11-28T20:46:29.125Z",
      "role": "workflow:owner",
      "workflowId": "A6PBAQjoCpBnEv0Q",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": null,
  "tags": []
}