process-receipt-images-with-gpt-4o-mini,-whatsapp-&-google-sheets-automation-.json
{
  "updatedAt": "2025-10-22T07:47:08.342Z",
  "createdAt": "2025-10-22T07:47:08.342Z",
  "id": "wo1aEkAM1j8QIv2I",
  "name": "Process Receipt Images with GPT-4o-mini, WhatsApp & Google Sheets Automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "id": "4f21f409-1ec7-4745-9706-c942c3c2fb5d",
      "name": "Download media",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        608,
        480
      ],
      "webhookId": "1cc8b65d-be9b-4497-8275-3025e07dbb39",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "f9d581cf-4a0c-4b6b-86f1-749f99852ce3",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        832,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "name": "data",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1IP1KFkWq0SGE6vITKxueGzJcvTU4PIVx",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1IP1KFkWq0SGE6vITKxueGzJcvTU4PIVx",
          "cachedResultName": "Invoices"
        },
        "options": {}
      },
      "id": "ea1794f8-6e6c-430b-9a7d-d604b3b70a39",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1056,
        480
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "id": "e198f8cb-35de-45c1-93bc-6a855083cac7",
      "name": "Share file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1280,
        480
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Your job is to extract structured data from invoice images.\nReturn the output in valid JSON only, with the following fields:\n\nstore_name: Name of the store or merchant\n\ndescription: Short summary of purchased items or services\n\nimage_url: URL of the invoice image (as provided in input)\n\npayment: Mode of payment (card, cash, UPI, wallet, other)\n\ntotal: Final total amount in numeric format\nOutput Json Only\nExample JSON output:\n{\n  \"store_name\": \"Big Bazaar\",\n  \"description\": \"3 items: rice, detergent, snacks\",\n  \"image_url\": \"https://example.com/invoice123.png\",\n  \"payment\": \"card\",\n  \"total\": 1520.75\n}\n",
        "inputType": "base64",
        "options": {}
      },
      "id": "24ffe82f-b682-42f5-bde8-41c6ddd8993d",
      "name": "Analyze image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        384,
        704
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Upload file').item.json.id }}"
        },
        "options": {}
      },
      "id": "42667e8e-4011-401f-a84b-64132d14daab",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1504,
        480
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Get the raw text\nconst raw = $input.first().json.content;\n\n// Remove ```json and ``` wrappers + escaped \\n\nconst cleaned = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .replace(/\\\\n/g, \"\")\n  .trim();\n\n// Parse to JSON\nconst data = JSON.parse(cleaned);\n\nreturn [{ json: data }];\n"
      },
      "id": "a5b8be95-dc87-495f-a64b-e30048d545af",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        608,
        704
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1cG8U5EpRXKXkM3eN74byIhQBkmfF59mLgvDc3S2xT0s",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cG8U5EpRXKXkM3eN74byIhQBkmfF59mLgvDc3S2xT0s/edit?usp=drivesdk",
          "cachedResultName": "Invoices"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cG8U5EpRXKXkM3eN74byIhQBkmfF59mLgvDc3S2xT0s/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "total": "={{ $json.total }}",
            "payment": "={{ $json.payment }}",
            "image_url": "={{ $('Upload file').item.json.webViewLink }}",
            "store name": "={{ $json.store_name }}",
            "discription": "={{ $json.description }}"
          },
          "schema": [
            {
              "id": "store name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "store name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "discription",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "discription",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "image_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "payment",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "payment",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "total",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "total",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "72db8e7e-bf25-4e65-96d1-2b5eccec34cc",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        832,
        704
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your job is to generate a short, clear invoice summary using the extracted fields.\nAlways include emojis for readability.\nAlways include the invoice image link.\nOutput should be plain text, not JSON.\n\nRequired fields:\n\n🏬 Store Name\n\n📝 Description of items\n\n💳 Payment Method\n\n💰 Total Amount\n\n🔗 Invoice Link\n\nExample Output 1:\n🏬 Store: Berghotel Grosse Scheidegg\n📝 Items: 2 Latte Macchiato, 1 Globi, 1 Schweinschnitzel, 1 Käseplättli\n💳 Payment: Cash\n💰 Total: 54.50\n🔗 Link: https://example.com/invoice123.png\n\nExample Output 2:\n🏬 Store: Big Bazaar\n📝 Items: Rice, Detergent, Snacks\n💳 Payment: Card\n💰 Total: 1520.75\n🔗 Link: https://example.com/invoice123.png\n\nOutput Link:{{ $('Upload file').item.json.webViewLink }}\nActual Details:\nStore Name:{{ $json['store name'] }}\ndiscription: {{ $json.discription }}\ntotal:{{ $json.total }}\npayment: {{ $json.payment }}",
        "options": {}
      },
      "id": "648037a1-c9f4-42ab-a0aa-72a4f10c2897",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1056,
        704
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "2b68634e-c3b2-4c31-bd01-d5698b094cde",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1008,
        880
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "772721379258804",
        "recipientPhoneNumber": "+919827442000",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "f96dacaa-639f-41f3-87e8-5c81daabfbef",
      "name": "Send message",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1408,
        704
      ],
      "webhookId": "ea1a5f84-034b-4314-a30c-94ce0eaf1cd4",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🧾 WhatsApp Receipt Bot\n**Purpose:** Automates receipt handling via WhatsApp.\n**Flow:**\n1. 📥 User sends receipt\n2. ☁️ Uploads to Google Drive\n3. 🔍 Extracts store, items, payment, total\n4. 📊 Sends back summary\n",
        "height": 208,
        "width": 496,
        "color": 4
      },
      "id": "28c0ac1c-b1f4-492e-adc4-9f4bf0530ed0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1856,
        336
      ],
      "id": "0310e48a-c4e4-443a-93be-edae7df3c9de",
      "name": "Send a text message",
      "webhookId": "5b3d714e-f54a-4ce1-b2a1-ef02e5f15885",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        320,
        464
      ],
      "id": "fe2fb2e2-4210-4e80-bcba-bdcc7d75ab4c",
      "name": "Telegram Trigger",
      "webhookId": "ade1b440-2f5f-476e-a81a-b3dab297f24c",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "9285"
  },
  "pinData": {},
  "versionId": "07c0c6d9-9860-4692-b4ff-33a8a52ece0a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-22T07:47:08.346Z",
      "createdAt": "2025-10-22T07:47:08.346Z",
      "role": "workflow:owner",
      "workflowId": "wo1aEkAM1j8QIv2I",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": null,
  "tags": []
}