telegram-aiagent(ollamachatmodel)-eventsingooglecalendar-.json
{
  "updatedAt": "2025-10-26T15:21:10.000Z",
  "createdAt": "2025-10-26T14:59:54.114Z",
  "id": "RzjneWTOjrweSbL7",
  "name": "Telegram-AiAgent(OllamaChatModel)-EventsInGoogleCalendar",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        -160
      ],
      "id": "6204e249-f2e6-41d9-95f7-b4f3274d3475",
      "name": "Telegram Trigger",
      "webhookId": "2c614186-291f-43c8-aca7-1e91e3c47772",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant to get the events in Google Calendar. You only respond for events in calendar."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -352,
        -160
      ],
      "id": "81a64e28-7cce-44e5-8d39-09ffdc00b33f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -496,
        48
      ],
      "id": "6bf5fa24-f38b-40bc-b72a-f8b7a0d10395",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "0ETxcr9uFCQDEfJV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -352,
        48
      ],
      "id": "8136f9dd-036f-4141-8800-b93509717003",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "treloskilo@gmail.com",
          "mode": "list",
          "cachedResultName": "treloskilo@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -208,
        48
      ],
      "id": "fdd981db-a9f3-4377-b8fc-a995de57a8c5",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "938ReI4hkERld9CH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        -160
      ],
      "id": "8daf90a7-8c6b-49c2-ae8f-26da1709f328",
      "name": "Send a text message",
      "webhookId": "6b21f6c6-aeed-4b24-ab92-80e858c4d885",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Athens",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8c441d2d-b5d2-433b-9fc7-ef953e49a7bf",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-26T14:59:54.118Z",
      "createdAt": "2025-10-26T14:59:54.118Z",
      "role": "workflow:owner",
      "workflowId": "RzjneWTOjrweSbL7",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": null,
  "tags": []
}