template-private-calendar-Template.json
{
  "updatedAt": "2025-10-23T13:10:24.141Z",
  "createdAt": "2025-10-23T13:10:24.141Z",
  "id": "UnL55NLf2tSQUz9b",
  "name": "Template Private Calendar",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "dbecb860-5e1b-4bd7-8ee6-4c12976ff08d",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        128
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}"
      },
      "id": "ba2242e0-7625-4a23-9b5f-3893d9b8f1c7",
      "name": "Postgres Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        80,
        368
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to schedule meetings with participants.",
        "calendar": {
          "__rl": true,
          "value": "felix.vemmer@gmail.com",
          "mode": "list",
          "cachedResultName": "felix.vemmer@gmail.com"
        },
        "start": "={{ $fromAI(\"start_datetime\", \"The start date and time of the event\", string) }}",
        "end": "={{ $fromAI(\"end_datetime\", \"The end date and time of the event\", string) }}",
        "additionalFields": {
          "allday": "={{ $fromAI(\"all_day\", \"Indicates whether the event runs for the entire day\", boolean) }}",
          "attendees": [
            "={{ $fromAI(\"attendees\", \"The attendees of the event. Multiple ones can be separated by comma\", string) }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $fromAI(\"description\", \"Detailed description of the event\", string) }}",
          "guestsCanInviteOthers": true,
          "guestsCanModify": true,
          "guestsCanSeeOtherGuests": true,
          "location": "={{ $fromAI(\"location\", \"The physical or virtual location of the event\", string) }}",
          "summary": "={{ $fromAI(\"summary\", \"A brief overview or short description of the event\", string) }}"
        }
      },
      "id": "803ec230-3384-42c7-80cc-226d81ca8ffa",
      "name": "Google Calendar Meetings With Pariticipatns1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        432,
        368
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Query: {{ $json.query }}",
        "options": {
          "systemMessage": "=You are a professional scheduling assistant. Your primary role is to help schedule and manage calendar events efficiently.\n\n<rules>\n# Email and Participant Handling\n- NEVER attempt to schedule a meeting with participants without their email address\n- ALWAYS use the Search Attio Contacts tool first when only a name is provided\n- Search sequence:\n  1. When given only a name, FIRST use Search Attio Contacts to find the email\n  2. ONLY after obtaining the email, proceed with scheduling\n- If multiple results are found, ask for clarification\n- If no email is found, inform the user that you cannot schedule without a valid email\n\n# Meeting Settings\n- Add Google Meet links to all scheduled meetings\n- If the time is not specified, ask for clarification\n- If the duration is not specified, default to 30 minutes\n- Always use Europe/Berlin timezone unless specified otherwise\n\n# Response Format\nAlways confirm the scheduled event with a summary including:\n  * Date and time\n  * Duration\n  * Participants with their email addresses\n  * Google Calendar Link (Link to Event)\n  * Location (if applicable)\n\n# Error Handling\n- If search returns no results, explain that you cannot find the contact\n- If search returns multiple results, ask for clarification with the full name\n- If essential information is missing (time/date), ask follow-up questions\n</rules>\n\n\n<context>\n- Current time: {{ $now.toISO() }}\n- User's timezone: Europe/Berlin\n- User's calendar: <EMAIL-ADDRESS-GOES-HERE>\n</context>"
        }
      },
      "id": "4c5b5123-1524-46e4-a0b4-1fd61743cbd9",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        32,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40b6e222-014d-4364-aa1f-719547a5ef1a",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d9bd1ddb-d35b-4a66-b8da-e479ee504eb3",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a5ab294-112a-4535-b355-42d1b194446a",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "string"
            },
            {
              "id": "d8436d02-c21f-40a0-a135-c97eef7dbde8",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d71ef6b9-7a8e-4aa9-a03d-f72d33fd5842",
      "name": "Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        128
      ]
    },
    {
      "parameters": {
        "modelName": "=models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "37de0be4-602f-4b61-9f9c-d8598e622d9c",
      "name": "Gemini 2.0 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        368
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to schedule meetings WITHOUT participants.",
        "calendar": {
          "__rl": true,
          "value": "felix.vemmer@gmail.com",
          "mode": "list",
          "cachedResultName": "felix.vemmer@gmail.com"
        },
        "start": "={{ $fromAI(\"start_datetime\", \"The start date and time of the event\", string) }}",
        "end": "={{ $fromAI(\"end_datetime\", \"The end date and time of the event\", string) }}",
        "additionalFields": {
          "allday": "={{ $fromAI(\"all_day\", \"Indicates whether the event runs for the entire day\", boolean) }}",
          "attendees": [],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $fromAI(\"description\", \"Detailed description of the event\", string) }}",
          "guestsCanInviteOthers": true,
          "guestsCanModify": true,
          "guestsCanSeeOtherGuests": true,
          "location": "={{ $fromAI(\"location\", \"The physical or virtual location of the event\", string) }}",
          "summary": "={{ $fromAI(\"summary\", \"A brief overview or short description of the event\", string) }}"
        }
      },
      "id": "b7ee7e42-d90a-4b27-a6c1-4fa4610a7357",
      "name": "Meetings Without Participants",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        272,
        368
      ]
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to find email addresses when only a person's first name or full name is provided. Input:\n- name: The person's full or partial name to search\nReturns: Contact details including email address. Use this before scheduling meetings when email addresses aren't provided.",
        "method": "POST",
        "url": "https://api.attio.com/v2/objects/people/records/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"$or\": [\n      {\n        \"name\": {\n          \"$contains\": \"{name}\"\n        }\n      },\n      {\n        \"email_addresses\": {\n          \"$contains\": \"{name}\"\n        }\n      }\n    ]\n  }\n}\n",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "name",
              "description": "The name of the person to search for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        608,
        368
      ],
      "id": "34fe23b4-41f3-492e-8c3f-18a97a214e44",
      "name": "Search Attio Contacts"
    },
    {
      "parameters": {
        "content": "## Adjust <EMAIL-ADDRESS-GOES-HERE>\n",
        "height": 260,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "368deb68-eb3b-42fd-b1b8-bfc4a45f7d8c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Auth\n\nGive all permissions in Attio and generate Bearer Token",
        "height": 320,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        208
      ],
      "typeVersion": 1,
      "id": "ea1807d7-693f-4907-bf79-380d93144113",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Meetings With Pariticipatns1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Meetings Without Participants": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Attio Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1b3720c6-f283-44a2-8b08-e22ea549f4ce",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-23T13:10:24.144Z",
      "createdAt": "2025-10-23T13:10:24.144Z",
      "role": "workflow:owner",
      "workflowId": "UnL55NLf2tSQUz9b",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-10-23T13:08:04.030Z",
      "createdAt": "2025-10-23T13:08:04.030Z",
      "id": "V6tVaqt3iuiABGGs",
      "name": "Template"
    }
  ]
}