teomastro_article-search-.json
{
  "updatedAt": "2026-05-17T11:21:08.115Z",
  "createdAt": "2026-05-10T15:28:39.253Z",
  "id": "hGvfCKIVKYFQCigC",
  "name": "teomastro_Article search",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "b9b28ac0-4043-4024-b397-73c48d2ac8f7",
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "position": [
        496,
        512
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-title",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "field-content",
              "name": "snippet",
              "type": "string",
              "value": "=\n{{ ($json.contentSnippet || $json.content || '').substring(0, 200) }}"
            },
            {
              "id": "field-link",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "field-date",
              "name": "isoDate",
              "type": "number",
              "value": "={{ new Date($json.isoDate || $json.pubDate || 0).getTime() }}"
            },
            {
              "id": "field-source",
              "name": "source",
              "type": "string",
              "value": "={{ $json.creator || $json['dc:creator'] || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5f2999df-dfc5-4765-9e44-85690defb5d1",
      "name": "Normalize Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        736,
        512
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "filter-24h",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ Date.now() - 24 * 60 * 60 * 1000 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14d8060d-d1c7-470f-94de-c18ae9bef6d4",
      "name": "Filter Last 24 Hours",
      "type": "n8n-nodes-base.filter",
      "position": [
        784,
        928
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "isoDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "2a5177ca-ab1c-4ae9-b5d2-7b2b12df4125",
      "name": "Sort by Date",
      "type": "n8n-nodes-base.sort",
      "position": [
        992,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all articles into a single text block for the AI agent\nconst articles = $input.all();\n\nlet summaryText = 'TODAY\\'S TOP NEWS ARTICLES (' + articles.length + ' articles from the last 24 hours):\\n\\n';\n\nfor (let i = 0; i < articles.length; i++) {\n  const a = articles[i].json;\n  summaryText += (i + 1) + '. ' + (a.title || 'No title') + '\\n';\n  summaryText += '   URL: ' + (a.link || '') + '\\n';\n  const snippet = (a.snippet || '').substring(0, 250);\n  if (snippet) {\n    summaryText += '   ' + snippet + '\\n';\n  }\n  summaryText += '\\n';\n}\n\nreturn [{ json: { articlesSummary: summaryText, articleCount: articles.length } }];"
      },
      "id": "f3f656ee-630f-4410-a1b9-55dd6fbdbf51",
      "name": "Aggregate Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        528
      ]
    },
    {
      "parameters": {
        "content": "## 📡 RSS Feed Sources\nPulls the latest articles from four tech publications:\n- **BBC Technology**\n- **The Verge**\n- **Ars Technica**\n- **TechCrunch**\n\n### Customizing\n- Swap any feed URL to cover different topics or outlets.\n- To add more feeds: duplicate an RSS node, connect it to the Merge node, and increase the Merge node's `numberInputs` value.",
        "height": 288,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -16
      ],
      "id": "83f94b4a-9cb4-4de3-ad43-57f801d07b5e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🔧 Processing Pipeline\n1. **Normalize Fields** — Standardizes all feeds to a common schema (title, snippet, link, date, source) since each RSS feed returns slightly different field names.\n2. **Filter Last 24h** — Drops anything older than 24 hours so the AI only sees fresh news.\n3. **Sort by Date** — Newest articles first.\n4. **Limit** — Caps the list (default: 10) so the AI prompt stays focused and within token limits.",
        "height": 208,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        272
      ],
      "id": "5f315190-885f-417e-a5d9-9456546e0bf0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 📝 Publish to WordPress\nThe AI returns output in a structured format (TITLE + CONTENT).\n\n**Parse AI Output** extracts the headline and HTML body.\n**Create WordPress Draft** posts it as a draft to your site.\n\n### Requires\n- **WordPress API credential** (site URL + application password)\n- Default status: `draft` — change to `publish` in node settings if you want posts to go live immediately.",
        "height": 256,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1968,
        224
      ],
      "id": "bccc1fac-fd96-4d51-8589-075ddae0674a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 📰 AI-Powered Daily Tech News Writer\nAutomatically writes and publishes an original tech news article every morning.\n\n**Flow:** RSS Feeds → Merge & Filter → AI Agent writes article → WordPress Draft\n\n### Prerequisites\n- OpenAI API key\n- WordPress site with application password\n\n### Customization\n- Swap RSS feeds for different topics\n- Change the schedule trigger time\n- Adjust article count limit\n- Switch AI model in the OpenAI Chat Model node\n\nBuilt with ❤️ for hands-free content creation.",
        "height": 400,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1200,
        400
      ],
      "id": "28516de9-7fc0-4d6c-af3e-7c430a191a44",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🤖 AI News Writer\nThe Code node compiles all articles into a single text digest.\n\nThe AI Agent (OpenAI) then:\n1. Reviews headlines and snippets\n2. Picks the most newsworthy story (or combines 2-3 related stories)\n3. Uses the **Fetch Article** tool to read full article text (max 3 fetches)\n4. Writes an original 600-1000 word article in journalistic style\n\n### Requires\n- **OpenAI API credential** (set in the \"OpenAI Chat Model\" sub-node)\n- Model defaults to `gpt-5.1` — change as needed",
        "height": 320,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1472,
        960
      ],
      "id": "7aa7d487-7d2b-4d13-aac0-c185ea54871f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "https://www.newsbeast.gr/feed",
        "options": {}
      },
      "id": "ebaf32b7-58c0-487a-a3eb-0f63119fdcaa",
      "name": "newsbeast.gr",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        352
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://www.news.gr/rss",
        "options": {}
      },
      "id": "df21283a-9cc8-482b-925b-0df0c3a52bae",
      "name": "news.gr",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        496
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://www.tanea.gr/feed",
        "options": {}
      },
      "id": "2f9f3eb7-c208-44ad-8f90-7d3a88dfba19",
      "name": "tanea.gr",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        656
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://www.ethnos.gr/rss.xml",
        "options": {}
      },
      "id": "ce34c9ba-4dd7-46de-a9b5-9a0e20708a1c",
      "name": "ethnos.gr",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        816
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1152,
        528
      ],
      "id": "c3573a91-d777-4aaa-b98b-3f1e02963a2f",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "96e1dc9d-2efb-4303-9659-4f513f9c847d",
      "name": "Limit to 20",
      "type": "n8n-nodes-base.limit",
      "position": [
        1344,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "MANDATORY: You MUST call the fetch_article tool at least once \nbefore writing. Do not write the article without fetching first.\nPick the top article URL from the digest and call fetch_article \nwith that URL now.\nDo not narrate your reasoning steps. Work silently and output ONLY the final result in the specified format.\n\nYou are a professional tech news journalist. Every day you receive a digest of the latest news articles from major tech publications. Your job is to identify ALL newsworthy stories and write a separate, original, polished news article for each one.\n\n## Today's News Digest\n{{ $json.articlesSummary }}\n\n## Tools Available\n- **Fetch Article**: Pass a full article URL (including https://) to read the complete text. Use this to get the full details of the articles you want to write about.\n\n## Your Task\n1. Review ALL headlines and snippets above carefully.\n2. Score each story by newsworthiness (impact, novelty, relevance). Keep every story that scores 7/10 or above. There is no maximum — if 8 stories qualify, write 8 articles.\n3. For each qualifying story, fetch its full article. If 2-3 stories are closely related, you may fetch them together and combine them into one article — but only if they genuinely form a single narrative.\n4. If a fetch fails (paywall, error, timeout), skip it and work with what you have. Do NOT invent facts from unfetched articles.\n5. Write one original news article per qualifying story (or per related cluster).\n6. IMPORTANT: This is a TECH news workflow. If the digest contains no tech stories (AI, software, hardware,cybersecurity, startups, science & technology), output exactly:\nTITLE: NO_TECH_STORIES\nCATEGORY: skip\n%%CONTENT_START%%\n%%CONTENT_END%%\n\n## NEWS ARTICLE STRUCTURE\nEach article must follow this structure:\n\n### Headline\nClear, factual, attention-grabbing.\n\n### Lead Paragraph (1 paragraph)\nThe most important facts: who, what, when, where, why.\n\n### Body (3-5 paragraphs, use <h2> subheadings)\n- Key details and context\n- Background and significance\n- Multiple perspectives where available\n- Concrete data, numbers, or specifics\n\n### What's Next (1-2 paragraphs)\nImplications, what to watch for, what happens next.\n\n## WRITING RULES\n- Neutral, professional journalistic tone\n- 600-1000 words per article\n- All content ORIGINAL — synthesize and rewrite, never copy verbatim\n- If you cannot fetch an article, do NOT invent facts. Only use information confirmed by a successful fetch.\n- Attribute sources naturally (e.g. \"according to Ars Technica\", \"The Verge reports\")\n- Use <h2>, <p>, <strong>, <em> for formatting\n- Do NOT include <html>, <head>, or <body> tags\n- Write in Greek (el-GR)\n\n## OUTPUT FORMAT\nReturn ALL articles sequentially in this EXACT format with no extra text before, between, or after:\n\n%%ARTICLE_START%%\nTITLE: [Your headline]\nCATEGORY: [AI / Security / Hardware / Software / Business]\n%%CONTENT_START%%\n[Full article in HTML]\n%%CONTENT_END%%\n%%ARTICLE_END%%\n\n%%ARTICLE_START%%\nTITLE: [Your headline]\nCATEGORY: [AI / Security / Hardware / Software / Business]\n%%CONTENT_START%%\n[Full article in HTML]\n%%CONTENT_END%%\n%%ARTICLE_END%%\n\nRepeat the %%ARTICLE_START%% ... %%ARTICLE_END%% block for every article you write",
        "height": 272,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        1072
      ],
      "id": "94232bad-e3e2-4322-97b0-4c9dd8006191",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANT: You MUST include ALL articles provided. \nDo not stop until every article has been added to the table.\n\nBelow is a list of today's top news articles. \n\nExtract each article and output ONLY a complete HTML table. No explanation, no markdown, no code blocks — just raw HTML.\n\nThe table must have these exact columns:\n1. # (row number)\n2. Title (the article headline)\n3. Summary (max 2 sentences, in Greek if the article is in Greek)\n4. Source (the domain name only, e.g. ethnos.gr)\n5. Link (a clickable HTML anchor tag: <a href=\"URL\" target=\"_blank\">Read more</a>)\n\nTable styling requirements:\n- Add attribute: style=\"border-collapse:collapse; width:100%; font-family:Arial, sans-serif;\"\n- Each <th> gets: style=\"background-color:#2c3e50; color:white; padding:10px; text-align:left;\"\n- Each <td> gets: style=\"padding:8px; border-bottom:1px solid #ddd;\"\n- Alternate row color: even rows get style=\"background-color:#f9f9f9;\"\n\nArticles:\n{{ $json.articlesSummary }}",
        "messages": {
          "messageValues": [
            {
              "message": "Output only raw HTML. No explanations. No markdown.\nIMPORTANT: You MUST include ALL articles provided. Do not stop until every article has been added to the table."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1904,
        528
      ],
      "id": "40f76b40-d864-4280-ae80-a5bd15adf3a3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "maxTokensToSample": 4001
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1840,
        736
      ],
      "id": "067b3dc2-832e-4e83-ba61-285e73f53915",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "kdgCkpCrW61FR87q",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "seremvas76@gmail.com",
        "subject": "=Today's Top News - {{ $now.format('dd/MM/yyyy') }}",
        "message": "=<html>\n<body style=\"font-family: Arial, sans-serif; padding: 20px;\">\n  <h2 style=\"color: #2c3e50;\">📰 Today's Top News</h2>\n  <p>Here are the top articles from the last 24 hours:</p>\n  \n  {{ $json.text }}\n  \n  <br><br>\n  <small style=\"color:#999;\">Generated automatically by n8n</small>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2288,
        528
      ],
      "id": "27b139c3-7ebb-4eb1-8b57-fb26ed79bc71",
      "name": "Send a message",
      "webhookId": "bae22232-d817-4025-9b78-d204c97de7a8",
      "credentials": {
        "gmailOAuth2": {
          "id": "WBaGzd89qjgz8bxH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "671bd637-64f3-4558-b911-d07201e594ff",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -304,
        560
      ],
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "Merge All Feeds": {
      "main": [
        [
          {
            "node": "Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Fields": {
      "main": [
        [
          {
            "node": "Filter Last 24 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Last 24 Hours": {
      "main": [
        [
          {
            "node": "Sort by Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Date": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Articles": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "newsbeast.gr": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "news.gr": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "tanea.gr": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "ethnos.gr": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Limit to 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 20": {
      "main": [
        [
          {
            "node": "Aggregate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 9AM Trigger": {
      "main": [
        [
          {
            "node": "newsbeast.gr",
            "type": "main",
            "index": 0
          },
          {
            "node": "news.gr",
            "type": "main",
            "index": 0
          },
          {
            "node": "tanea.gr",
            "type": "main",
            "index": 0
          },
          {
            "node": "ethnos.gr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Athens",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "g6VSaJXbw9uphgte"
  },
  "staticData": {
    "node:Daily 9AM Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ea548c74-bb90-4729-a533-520e7584f030",
  "activeVersionId": "ea548c74-bb90-4729-a533-520e7584f030",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-10T15:28:39.256Z",
      "createdAt": "2026-05-10T15:28:39.256Z",
      "role": "workflow:owner",
      "workflowId": "hGvfCKIVKYFQCigC",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-17T11:21:08.116Z",
    "createdAt": "2026-05-17T11:21:08.116Z",
    "versionId": "ea548c74-bb90-4729-a533-520e7584f030",
    "workflowId": "hGvfCKIVKYFQCigC",
    "nodes": [
      {
        "parameters": {
          "numberInputs": 4
        },
        "id": "b9b28ac0-4043-4024-b397-73c48d2ac8f7",
        "name": "Merge All Feeds",
        "type": "n8n-nodes-base.merge",
        "position": [
          496,
          512
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "field-title",
                "name": "title",
                "type": "string",
                "value": "={{ $json.title }}"
              },
              {
                "id": "field-content",
                "name": "snippet",
                "type": "string",
                "value": "=\n{{ ($json.contentSnippet || $json.content || '').substring(0, 200) }}"
              },
              {
                "id": "field-link",
                "name": "link",
                "type": "string",
                "value": "={{ $json.link }}"
              },
              {
                "id": "field-date",
                "name": "isoDate",
                "type": "number",
                "value": "={{ new Date($json.isoDate || $json.pubDate || 0).getTime() }}"
              },
              {
                "id": "field-source",
                "name": "source",
                "type": "string",
                "value": "={{ $json.creator || $json['dc:creator'] || '' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "5f2999df-dfc5-4765-9e44-85690defb5d1",
        "name": "Normalize Fields",
        "type": "n8n-nodes-base.set",
        "position": [
          736,
          512
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "filter-24h",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $json.isoDate }}",
                "rightValue": "={{ Date.now() - 24 * 60 * 60 * 1000 }}"
              }
            ]
          },
          "options": {}
        },
        "id": "14d8060d-d1c7-470f-94de-c18ae9bef6d4",
        "name": "Filter Last 24 Hours",
        "type": "n8n-nodes-base.filter",
        "position": [
          784,
          928
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "isoDate",
                "order": "descending"
              }
            ]
          },
          "options": {}
        },
        "id": "2a5177ca-ab1c-4ae9-b5d2-7b2b12df4125",
        "name": "Sort by Date",
        "type": "n8n-nodes-base.sort",
        "position": [
          992,
          768
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "jsCode": "// Aggregate all articles into a single text block for the AI agent\nconst articles = $input.all();\n\nlet summaryText = 'TODAY\\'S TOP NEWS ARTICLES (' + articles.length + ' articles from the last 24 hours):\\n\\n';\n\nfor (let i = 0; i < articles.length; i++) {\n  const a = articles[i].json;\n  summaryText += (i + 1) + '. ' + (a.title || 'No title') + '\\n';\n  summaryText += '   URL: ' + (a.link || '') + '\\n';\n  const snippet = (a.snippet || '').substring(0, 250);\n  if (snippet) {\n    summaryText += '   ' + snippet + '\\n';\n  }\n  summaryText += '\\n';\n}\n\nreturn [{ json: { articlesSummary: summaryText, articleCount: articles.length } }];"
        },
        "id": "f3f656ee-630f-4410-a1b9-55dd6fbdbf51",
        "name": "Aggregate Articles",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          528
        ]
      },
      {
        "parameters": {
          "content": "## 📡 RSS Feed Sources\nPulls the latest articles from four tech publications:\n- **BBC Technology**\n- **The Verge**\n- **Ars Technica**\n- **TechCrunch**\n\n### Customizing\n- Swap any feed URL to cover different topics or outlets.\n- To add more feeds: duplicate an RSS node, connect it to the Merge node, and increase the Merge node's `numberInputs` value.",
          "height": 288,
          "width": 640
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -176,
          -16
        ],
        "id": "83f94b4a-9cb4-4de3-ad43-57f801d07b5e",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## 🔧 Processing Pipeline\n1. **Normalize Fields** — Standardizes all feeds to a common schema (title, snippet, link, date, source) since each RSS feed returns slightly different field names.\n2. **Filter Last 24h** — Drops anything older than 24 hours so the AI only sees fresh news.\n3. **Sort by Date** — Newest articles first.\n4. **Limit** — Caps the list (default: 10) so the AI prompt stays focused and within token limits.",
          "height": 208,
          "width": 768
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          672,
          272
        ],
        "id": "5f315190-885f-417e-a5d9-9456546e0bf0",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## 📝 Publish to WordPress\nThe AI returns output in a structured format (TITLE + CONTENT).\n\n**Parse AI Output** extracts the headline and HTML body.\n**Create WordPress Draft** posts it as a draft to your site.\n\n### Requires\n- **WordPress API credential** (site URL + application password)\n- Default status: `draft` — change to `publish` in node settings if you want posts to go live immediately.",
          "height": 256,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1968,
          224
        ],
        "id": "bccc1fac-fd96-4d51-8589-075ddae0674a",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## 📰 AI-Powered Daily Tech News Writer\nAutomatically writes and publishes an original tech news article every morning.\n\n**Flow:** RSS Feeds → Merge & Filter → AI Agent writes article → WordPress Draft\n\n### Prerequisites\n- OpenAI API key\n- WordPress site with application password\n\n### Customization\n- Swap RSS feeds for different topics\n- Change the schedule trigger time\n- Adjust article count limit\n- Switch AI model in the OpenAI Chat Model node\n\nBuilt with ❤️ for hands-free content creation.",
          "height": 400,
          "width": 800
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1200,
          400
        ],
        "id": "28516de9-7fc0-4d6c-af3e-7c430a191a44",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## 🤖 AI News Writer\nThe Code node compiles all articles into a single text digest.\n\nThe AI Agent (OpenAI) then:\n1. Reviews headlines and snippets\n2. Picks the most newsworthy story (or combines 2-3 related stories)\n3. Uses the **Fetch Article** tool to read full article text (max 3 fetches)\n4. Writes an original 600-1000 word article in journalistic style\n\n### Requires\n- **OpenAI API credential** (set in the \"OpenAI Chat Model\" sub-node)\n- Model defaults to `gpt-5.1` — change as needed",
          "height": 320,
          "width": 672
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1472,
          960
        ],
        "id": "7aa7d487-7d2b-4d13-aac0-c185ea54871f",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "url": "https://www.newsbeast.gr/feed",
          "options": {}
        },
        "id": "ebaf32b7-58c0-487a-a3eb-0f63119fdcaa",
        "name": "newsbeast.gr",
        "type": "n8n-nodes-base.rssFeedRead",
        "position": [
          208,
          352
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "url": "https://www.news.gr/rss",
          "options": {}
        },
        "id": "df21283a-9cc8-482b-925b-0df0c3a52bae",
        "name": "news.gr",
        "type": "n8n-nodes-base.rssFeedRead",
        "position": [
          208,
          496
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "url": "https://www.tanea.gr/feed",
          "options": {}
        },
        "id": "2f9f3eb7-c208-44ad-8f90-7d3a88dfba19",
        "name": "tanea.gr",
        "type": "n8n-nodes-base.rssFeedRead",
        "position": [
          208,
          656
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "url": "https://www.ethnos.gr/rss.xml",
          "options": {}
        },
        "id": "ce34c9ba-4dd7-46de-a9b5-9a0e20708a1c",
        "name": "ethnos.gr",
        "type": "n8n-nodes-base.rssFeedRead",
        "position": [
          208,
          816
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          1152,
          528
        ],
        "id": "c3573a91-d777-4aaa-b98b-3f1e02963a2f",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "maxItems": 10
        },
        "id": "96e1dc9d-2efb-4303-9659-4f513f9c847d",
        "name": "Limit to 20",
        "type": "n8n-nodes-base.limit",
        "position": [
          1344,
          512
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "MANDATORY: You MUST call the fetch_article tool at least once \nbefore writing. Do not write the article without fetching first.\nPick the top article URL from the digest and call fetch_article \nwith that URL now.\nDo not narrate your reasoning steps. Work silently and output ONLY the final result in the specified format.\n\nYou are a professional tech news journalist. Every day you receive a digest of the latest news articles from major tech publications. Your job is to identify ALL newsworthy stories and write a separate, original, polished news article for each one.\n\n## Today's News Digest\n{{ $json.articlesSummary }}\n\n## Tools Available\n- **Fetch Article**: Pass a full article URL (including https://) to read the complete text. Use this to get the full details of the articles you want to write about.\n\n## Your Task\n1. Review ALL headlines and snippets above carefully.\n2. Score each story by newsworthiness (impact, novelty, relevance). Keep every story that scores 7/10 or above. There is no maximum — if 8 stories qualify, write 8 articles.\n3. For each qualifying story, fetch its full article. If 2-3 stories are closely related, you may fetch them together and combine them into one article — but only if they genuinely form a single narrative.\n4. If a fetch fails (paywall, error, timeout), skip it and work with what you have. Do NOT invent facts from unfetched articles.\n5. Write one original news article per qualifying story (or per related cluster).\n6. IMPORTANT: This is a TECH news workflow. If the digest contains no tech stories (AI, software, hardware,cybersecurity, startups, science & technology), output exactly:\nTITLE: NO_TECH_STORIES\nCATEGORY: skip\n%%CONTENT_START%%\n%%CONTENT_END%%\n\n## NEWS ARTICLE STRUCTURE\nEach article must follow this structure:\n\n### Headline\nClear, factual, attention-grabbing.\n\n### Lead Paragraph (1 paragraph)\nThe most important facts: who, what, when, where, why.\n\n### Body (3-5 paragraphs, use <h2> subheadings)\n- Key details and context\n- Background and significance\n- Multiple perspectives where available\n- Concrete data, numbers, or specifics\n\n### What's Next (1-2 paragraphs)\nImplications, what to watch for, what happens next.\n\n## WRITING RULES\n- Neutral, professional journalistic tone\n- 600-1000 words per article\n- All content ORIGINAL — synthesize and rewrite, never copy verbatim\n- If you cannot fetch an article, do NOT invent facts. Only use information confirmed by a successful fetch.\n- Attribute sources naturally (e.g. \"according to Ars Technica\", \"The Verge reports\")\n- Use <h2>, <p>, <strong>, <em> for formatting\n- Do NOT include <html>, <head>, or <body> tags\n- Write in Greek (el-GR)\n\n## OUTPUT FORMAT\nReturn ALL articles sequentially in this EXACT format with no extra text before, between, or after:\n\n%%ARTICLE_START%%\nTITLE: [Your headline]\nCATEGORY: [AI / Security / Hardware / Software / Business]\n%%CONTENT_START%%\n[Full article in HTML]\n%%CONTENT_END%%\n%%ARTICLE_END%%\n\n%%ARTICLE_START%%\nTITLE: [Your headline]\nCATEGORY: [AI / Security / Hardware / Software / Business]\n%%CONTENT_START%%\n[Full article in HTML]\n%%CONTENT_END%%\n%%ARTICLE_END%%\n\nRepeat the %%ARTICLE_START%% ... %%ARTICLE_END%% block for every article you write",
          "height": 272,
          "width": 512
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          864,
          1072
        ],
        "id": "94232bad-e3e2-4322-97b0-4c9dd8006191",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=IMPORTANT: You MUST include ALL articles provided. \nDo not stop until every article has been added to the table.\n\nBelow is a list of today's top news articles. \n\nExtract each article and output ONLY a complete HTML table. No explanation, no markdown, no code blocks — just raw HTML.\n\nThe table must have these exact columns:\n1. # (row number)\n2. Title (the article headline)\n3. Summary (max 2 sentences, in Greek if the article is in Greek)\n4. Source (the domain name only, e.g. ethnos.gr)\n5. Link (a clickable HTML anchor tag: <a href=\"URL\" target=\"_blank\">Read more</a>)\n\nTable styling requirements:\n- Add attribute: style=\"border-collapse:collapse; width:100%; font-family:Arial, sans-serif;\"\n- Each <th> gets: style=\"background-color:#2c3e50; color:white; padding:10px; text-align:left;\"\n- Each <td> gets: style=\"padding:8px; border-bottom:1px solid #ddd;\"\n- Alternate row color: even rows get style=\"background-color:#f9f9f9;\"\n\nArticles:\n{{ $json.articlesSummary }}",
          "messages": {
            "messageValues": [
              {
                "message": "Output only raw HTML. No explanations. No markdown.\nIMPORTANT: You MUST include ALL articles provided. Do not stop until every article has been added to the table."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1904,
          528
        ],
        "id": "40f76b40-d864-4280-ae80-a5bd15adf3a3",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "model": "llama-3.1-8b-instant",
          "options": {
            "maxTokensToSample": 4001
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          1840,
          736
        ],
        "id": "067b3dc2-832e-4e83-ba61-285e73f53915",
        "name": "Groq Chat Model1",
        "credentials": {
          "groqApi": {
            "id": "kdgCkpCrW61FR87q",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "seremvas76@gmail.com",
          "subject": "=Today's Top News - {{ $now.format('dd/MM/yyyy') }}",
          "message": "=<html>\n<body style=\"font-family: Arial, sans-serif; padding: 20px;\">\n  <h2 style=\"color: #2c3e50;\">📰 Today's Top News</h2>\n  <p>Here are the top articles from the last 24 hours:</p>\n  \n  {{ $json.text }}\n  \n  <br><br>\n  <small style=\"color:#999;\">Generated automatically by n8n</small>\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          2288,
          528
        ],
        "id": "27b139c3-7ebb-4eb1-8b57-fb26ed79bc71",
        "name": "Send a message",
        "webhookId": "bae22232-d817-4025-9b78-d204c97de7a8",
        "credentials": {
          "gmailOAuth2": {
            "id": "WBaGzd89qjgz8bxH",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9
              }
            ]
          }
        },
        "id": "671bd637-64f3-4558-b911-d07201e594ff",
        "name": "Daily 9AM Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -304,
          560
        ],
        "typeVersion": 1.2
      }
    ],
    "connections": {
      "Merge All Feeds": {
        "main": [
          [
            {
              "node": "Normalize Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Fields": {
        "main": [
          [
            {
              "node": "Filter Last 24 Hours",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Last 24 Hours": {
        "main": [
          [
            {
              "node": "Sort by Date",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort by Date": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Articles": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "newsbeast.gr": {
        "main": [
          [
            {
              "node": "Merge All Feeds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "news.gr": {
        "main": [
          [
            {
              "node": "Merge All Feeds",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "tanea.gr": {
        "main": [
          [
            {
              "node": "Merge All Feeds",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "ethnos.gr": {
        "main": [
          [
            {
              "node": "Merge All Feeds",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Limit to 20",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit to 20": {
        "main": [
          [
            {
              "node": "Aggregate Articles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily 9AM Trigger": {
        "main": [
          [
            {
              "node": "newsbeast.gr",
              "type": "main",
              "index": 0
            },
            {
              "node": "news.gr",
              "type": "main",
              "index": 0
            },
            {
              "node": "tanea.gr",
              "type": "main",
              "index": 0
            },
            {
              "node": "ethnos.gr",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "trelos skilos",
    "name": null,
    "description": null
  },
  "tags": []
}