track-and-receive-upwork-job-alerts-via-whatsapp-and-google-sheets-.json
{
  "updatedAt": "2025-11-18T19:47:49.000Z",
  "createdAt": "2025-11-18T18:40:34.338Z",
  "id": "UV1fRe3ayKnGOtBh",
  "name": "Track and Receive Upwork Job Alerts via WhatsApp and Google Sheets",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "344e2376-fbe3-4759-9ee2-0c7248a1ca0d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        560,
        352
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1_WNd8Pex9BkDj8HgyqceyBCyo5G6_a9_oscipZrWjWQ",
          "cachedResultUrl": "Put your Sheet",
          "cachedResultName": "Upwork Data"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "URL": "={{ $json.URL }}",
            "Date": "={{ $json.Date }}",
            "Found": "={{ $json.Found }}",
            "Score": "={{ $json.Score }}",
            "Title": "={{ $json.Title }}",
            "Salary": "={{ $json.Salary }}",
            "Status": "={{ $json.Status }}",
            "Message": "={{ $json.Message }}",
            "Location": "={{ $json.Location }}",
            "Experience": "={{ $json.Experience }}",
            "Description": "={{ $json.Description }}",
            "Payment Type": "={{ $json['Payment Type'] }}"
          },
          "schema": [
            {
              "id": "Title",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Type",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Payment Type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Experience",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Experience",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Salary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Found",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Found",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "hire_percentage",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "hire_percentage",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "spending_history",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "spending_history",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "rating",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Title"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fe41bc1e-bd4d-4769-bb96-118d9098b1e1",
      "name": "Append or update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1248,
        512
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pH3TVxLVuEt7LSmn",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {},
      "id": "649c9609-c934-4f11-8521-cf20d855f5dc",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        560,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d78912c8-c63e-4f32-af19-60a568d02377",
              "name": "Job Tile",
              "type": "string",
              "value": "={{ $json.Title }}"
            },
            {
              "id": "7ade5447-cac2-4fc2-bff2-517a8583d11e",
              "name": "job posted",
              "type": "string",
              "value": "={{ $json.Date }}"
            },
            {
              "id": "caff77ba-6c86-4685-b752-bae8ed41e58f",
              "name": "Payment type",
              "type": "string",
              "value": "={{ $json['Payment Type'] }}"
            },
            {
              "id": "52215059-aa70-469b-8b09-f51ada9a5fa0",
              "name": "score",
              "type": "string",
              "value": "={{ $json.Score }}"
            },
            {
              "id": "89926694-3595-4d22-b6ea-00228fb38a11",
              "name": "budget",
              "type": "string",
              "value": "={{ $json.Salary }}"
            },
            {
              "id": "5e48ea5b-92ad-49ce-be07-2f377c073af9",
              "name": "url",
              "type": "string",
              "value": "={{ $json.URL }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c4f1f2e-f732-4516-ba86-728ed39b9cd9",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1504,
        512
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5de2dab5-7ee1-4f72-a438-41a6ae346549",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.score }}",
              "rightValue": 70
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "47c813a1-cfd5-45d5-a6a0-8efa15625eff",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1680,
        512
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41636510-c2f4-4672-9824-86ae7382a73e",
              "name": "job",
              "type": "string",
              "value": "={{ $json['Job Tile'] }}"
            },
            {
              "id": "8a2c0c90-938d-4405-929d-6e735a3c58c2",
              "name": "job posted",
              "type": "string",
              "value": "={{ $json['job posted'] }}"
            },
            {
              "id": "2191f1cd-770e-49f6-abbb-38e1b33165be",
              "name": "payment type",
              "type": "string",
              "value": "={{ $json['Payment type'] }}"
            },
            {
              "id": "1849509f-54a4-45fc-86f8-505bed8def52",
              "name": "salary",
              "type": "string",
              "value": "={{ $('Edit Fields').item.json.budget }}"
            },
            {
              "id": "fb772e6f-2e63-412f-bce9-160a02c9ebd2",
              "name": "score",
              "type": "string",
              "value": "={{ $json.score }}"
            },
            {
              "id": "ed95e66a-31ee-4f19-b399-f24ebe3cce1f",
              "name": "url",
              "type": "string",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f09379ec-d4aa-4b84-a50e-249b9fc12d21",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "position": [
        1936,
        496
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "# Upwork Job Scraper with Whatsapp Alert",
        "height": 96,
        "width": 800,
        "color": 6
      },
      "id": "be49df45-2e61-49bf-a30b-dbbd8324a29a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7f69e1de-e644-40a7-bb0b-288b096b2696",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9afa9ea5-bd58-4dee-95fd-c4e5b732fc81",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        560,
        512
      ],
      "webhookId": "7f69e1de-e644-40a7-bb0b-288b096b2696",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8152087d-00ad-47ac-8dda-a765bf1c0d4f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        2176,
        736
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rapidapi.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "upwork-jobs-api2.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "7d2fc119bdmsh52a72c3f50d16edp12cc57jsncd134f36f79d"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.body.searchQuery }}"
            },
            {
              "name": "type",
              "value": "hourly, fixed"
            },
            {
              "name": "difficulty",
              "value": "entry, intermediate, expert"
            },
            {
              "name": "hours_per_week",
              "value": "less_than_30, more_than_30"
            },
            {
              "name": "client_hires",
              "value": "0, 1-9, 10+"
            },
            {
              "name": "client_location",
              "value": "={{ $json.body.locations[0] }}"
            },
            {
              "name": "min_hourly_rate",
              "value": "={{ $json.body.minRate }}"
            },
            {
              "name": "max_hourly_rate",
              "value": "={{ $json.body.maxRate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b60b55-9a1f-4b1c-bcdd-9dcccec3d1f3",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        800,
        512
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "send",
        "textBody": "hy",
        "additionalFields": {}
      },
      "id": "8a0ccf26-ba6c-401a-9dd9-372fb3539600",
      "name": "Send message",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2176,
        528
      ],
      "webhookId": "12152595-4931-4fc6-af72-15af81db40aa",
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Triggers to  start the wokdlow\n",
        "height": 640,
        "width": 336
      },
      "id": "1485fe97-a94f-4370-afd0-ec62bbe2cedf",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Rapid Api For Scraping",
        "height": 288,
        "width": 432,
        "color": 4
      },
      "id": "f7f7b98e-2eeb-43f7-8da2-fc677c3199c5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save Results in Sheet",
        "height": 288,
        "width": 272
      },
      "id": "e2fc5f7e-fb17-4645-a9f6-e00cf238c032",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Edit Field and the If Filter to pass the specific Information",
        "height": 272,
        "width": 592,
        "color": 3
      },
      "id": "e87b75da-0c4c-472b-83a4-7e29968f0879",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Send the Alert",
        "height": 704,
        "color": 5
      },
      "id": "9caf306a-ea94-471b-8d74-b99beb0ab5ad",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2096,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://whin2.p.rapidapi.com/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "whin2.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "Your API Key"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=New Job Alert make the Proposal ASAP\n\nJob Title : {{ $json.job }}\nPosted On : {{ $json['job posted'] }}\nBudget : {{ $json.salary }}\nJob Score : {{ $json.score }}\nJob URL: {{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a34422f4-bf0d-4c08-9c78-964e5dfafc41",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2176,
        336
      ],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "9713"
  },
  "pinData": {},
  "versionId": "3b8db608-bed2-4e2f-a6ae-6a3665b93ad8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-18T18:40:34.341Z",
      "createdAt": "2025-11-18T18:40:34.341Z",
      "role": "workflow:owner",
      "workflowId": "UV1fRe3ayKnGOtBh",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": null,
  "tags": []
}