working_ai_gemini_job-application-assistant_linkedin-.json
{
  "updatedAt": "2025-12-02T15:45:55.000Z",
  "createdAt": "2025-11-29T19:20:31.951Z",
  "id": "oKocWEMrvF6mseQA",
  "name": "Working_AI_Gemini_Job Application Assistant_Linkedin",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 10,17 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -880,
        -192
      ],
      "id": "06559dc2-a22b-4a69-a30f-8f515a398f49",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "14hVbtKoG_UTEcX5crGYbJY3Af317xzNh",
          "mode": "list",
          "cachedResultName": "VASILEIOS SEREMETIS_CV.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/14hVbtKoG_UTEcX5crGYbJY3Af317xzNh/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        -192
      ],
      "id": "170c6fe8-83b1-445f-9b4d-a0c44462427a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EPjI9NCOANqdMBKb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -464,
        -192
      ],
      "id": "09c02756-f59a-4082-8107-2b3985d7b16f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ",
          "mode": "list",
          "cachedResultName": "Job Search Preferences",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Filter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        -192
      ],
      "id": "b557d834-0e27-43b9-8d40-7f75bd163122",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pH3TVxLVuEt7LSmn",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\"\n\nconst keyword = $input.first().json.Keyword\nconst location = $input.first().json.Location\nconst experienceLevel = $input.first().json['Experience Level']\nconst remote = $input.first().json.Remote\nconst jobType = $input.first().json['Job Type']\nconst easyApply = $input.first().json['Easy Apply']\n\nif (keyword != \"\") {\n  url += `&keywords=${keyword}`;\n}\n\nif (location != \"\") {\n  url += `&location=${location}`;\n}\n\nif (experienceLevel !== \"\") {\n  // Transform experience levels to LinkedIn codes\n  // Internship -> 1, Entry level -> 2, Associate -> 3\n  // Mid-Senior level -> 4, Director -> 5, Executive -> 6\n  const transformedExperiences = experienceLevel\n    .split(\",\")\n    .map((exp) => {\n      switch (exp.trim()) {\n        case \"Internship\": return \"1\";\n        case \"Entry level\": return \"2\";\n        case \"Associate\": return \"3\";\n        case \"Mid-Senior level\": return \"4\";\n        case \"Director\": return \"5\";\n        case \"Executive\": return \"6\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_E=${transformedExperiences.join(\",\")}`;\n}\n\nif (remote.length != \"\") {\n  // Transform remote options to LinkedIn codes\n  // On-Site -> 1, Remote -> 2, Hybrid -> 3\n  const transformedRemote = remote\n    .split(\",\")\n    .map((e) => {\n      switch (e.trim()) {\n        case \"Remote\": return \"2\";\n        case \"Hybrid\": return \"3\";\n        case \"On-Site\": return \"1\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_WT=${transformedRemote.join(\",\")}`;\n}\n\nif (jobType != \"\") {\n  // Transform job types to LinkedIn codes\n  // Full-time -> F, Part-time -> P, Contract -> C, etc.\n  const transformedJobType = jobType\n    .split(\",\")\n    .map((type) => type.trim().charAt(0).toUpperCase());\n  url += `&f_JT=${transformedJobType.join(\",\")}`;\n}\n\nif (easyApply != \"\") {\n  url += \"&f_EA=true\";\n}\n\nreturn {url}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -192
      ],
      "id": "bb620832-3a5d-455b-a401-c3ca834202df",
      "name": "Create search URL"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        -192
      ],
      "id": "8961335e-dc36-414c-a4de-8d10171070f5",
      "name": "Fetch Jobs from LinkedIn"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        368,
        -192
      ],
      "id": "0969978d-2cff-4265-af83-f45d4faa2670",
      "name": "Extract Job Links"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        576,
        -208
      ],
      "id": "243662f1-2f2a-475c-9d4c-7552ab5bb839",
      "name": "Extract Job Links1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        272
      ],
      "id": "b606fd75-702c-4d93-8f4f-418948b81a03",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -880,
        0
      ],
      "id": "3346c68b-b2cb-4de6-83b7-c0e0adc91c69",
      "name": "Wait",
      "webhookId": "79a8c81a-7268-4279-a1cd-62dfe100e69a"
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -672,
        0
      ],
      "id": "6767cbe0-3a21-45e7-a34b-061c5656ade7",
      "name": "Fetch Job Page",
      "retryOnFail": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div h1"
            },
            {
              "key": "company",
              "cssSelector": "div span a"
            },
            {
              "key": "location",
              "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich"
            },
            {
              "key": "jobid",
              "cssSelector": "a[data-item-type='semaphore']",
              "returnValue": "attribute",
              "attribute": "data-semaphore-content-urn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -464,
        0
      ],
      "id": "73e6a8df-13db-4fc3-89c8-b8f7210f019a",
      "name": "Parse Job Attributes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59f08a8e-c353-447c-8529-a307ce6a95b3",
              "name": "company",
              "value": "={{ $json.company }}",
              "type": "string"
            },
            {
              "id": "07758be3-aa6d-439a-ba9e-23f21a0272ba",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "50998a12-3431-41d9-ab3f-d244dc8cff6a",
              "name": "description",
              "value": "={{ $json.description.replaceAll(/\\s+/g, \" \") }}",
              "type": "string"
            },
            {
              "id": "1f48146d-36f0-4eee-950c-c7f3802ffc0b",
              "name": "location",
              "value": "={{ $json.location }}",
              "type": "string"
            },
            {
              "id": "5d8df3f9-41cd-4248-9043-c943c2a86f35",
              "name": "jobid",
              "value": "={{ $json.jobid.split(\":\").last() }}",
              "type": "string"
            },
            {
              "id": "ae41c606-0210-4c6d-befe-687cc6d99180",
              "name": "applyLink",
              "value": "={{ \"https://www.linkedin.com/jobs/view/\"+ $json.jobid.split(\":\").last() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        0
      ],
      "id": "2589f8f5-4b42-45d3-ab4b-1acb25c197f4",
      "name": "Modify Job Attributes"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that helps match candidates to job opportunities. Your task is to review my resume, then analyze both the resume and job description to calculate a job matching score. Additionally, create a cover letter based on my resume and the job description. The cover letter should contain at least 2 paragraphs and should exclude the name, address, and signature sections from the beginning and end.\n\nWhen using special characters like quotation marks (\"), ensure they are properly escaped with a backslash. The output must be formatted as valid JSON that can be parsed without errors.\n\nFor example your response should be like: {\"score\": 80, \"coverLetter\": \"sample cover letter\" }\n\njob_description: {{ $json.description }}\nmy_resume: {{ $('Extract from File').item.json.text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -768,
        240
      ],
      "id": "a909b611-7404-48bd-886b-41c1222ea1ec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -848,
        384
      ],
      "id": "b176fe2b-bcd0-4502-b9ca-fb0d79bc7620",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3uUCLR5yvdkNtbXj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output.replaceAll(/```(?:json)?/g, \"\") }}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        240
      ],
      "id": "f1e3da59-3bb5-40cc-8764-a53596df1999",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ",
          "mode": "list",
          "cachedResultName": "Job Search Preferences",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1128377851,
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ/edit#gid=1128377851"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "link": "={{ $('Modify Job Attributes').item.json.applyLink }}",
            "Title": "={{ $('Modify Job Attributes').item.json.title }}",
            "Company": "={{ $('Modify Job Attributes').item.json.company }}",
            "Location": "={{ $('Modify Job Attributes').item.json.location }}",
            "description": "={{ $('Modify Job Attributes').item.json.description }}",
            "score": "={{ $json.score }}",
            "Cover Letter": "={{ $json.coverLetter }}"
          },
          "matchingColumns": [
            "link"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        240
      ],
      "id": "770ebe11-8c12-42e0-a8bb-6d900453b96e",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pH3TVxLVuEt7LSmn",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "433a0de6-f189-4c6e-b34c-f43a6603c7f9",
              "leftValue": "={{ $json.score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        240
      ],
      "id": "aa51ebd9-63c7-4871-ad6d-13f89aa5a956",
      "name": "Score Filter"
    },
    {
      "parameters": {
        "chatId": "5870531738",
        "text": "=Title: {{ $('Modify Job Attributes').item.json.title }}\nCompany: {{ $('Modify Job Attributes').item.json.company }}\nLocation: {{ $('Modify Job Attributes').item.json.location }}\nJob Score: {{ $json.score }}\nApply: {{ $('Modify Job Attributes').item.json.applyLink }}\nCopy Cover Letter from here - https://docs.google.com/spreadsheets/d/16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ\n",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        144
      ],
      "id": "3640bfa2-75b1-4665-80d9-cb9de95f4a92",
      "name": "Send a text message",
      "webhookId": "80899c6b-d1c2-4d76-8c8d-532caa83da8f",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Create search URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create search URL": {
      "main": [
        [
          {
            "node": "Fetch Jobs from LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs from LinkedIn": {
      "main": [
        [
          {
            "node": "Extract Job Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Links": {
      "main": [
        [
          {
            "node": "Extract Job Links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Links1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Fetch Job Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Page": {
      "main": [
        [
          {
            "node": "Parse Job Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Attributes": {
      "main": [
        [
          {
            "node": "Modify Job Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify Job Attributes": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Score Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Filter": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Athens",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "g6VSaJXbw9uphgte"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "311ff67f-1246-42ae-89ad-56693a0acec4",
  "activeVersionId": "311ff67f-1246-42ae-89ad-56693a0acec4",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-29T19:20:31.955Z",
      "createdAt": "2025-11-29T19:20:31.955Z",
      "role": "workflow:owner",
      "workflowId": "oKocWEMrvF6mseQA",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-02T15:45:55.527Z",
    "createdAt": "2025-12-02T15:45:55.527Z",
    "versionId": "311ff67f-1246-42ae-89ad-56693a0acec4",
    "workflowId": "oKocWEMrvF6mseQA",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "5 10,17 * * 1-5"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -880,
          -192
        ],
        "id": "06559dc2-a22b-4a69-a30f-8f515a398f49",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "14hVbtKoG_UTEcX5crGYbJY3Af317xzNh",
            "mode": "list",
            "cachedResultName": "VASILEIOS SEREMETIS_CV.pdf",
            "cachedResultUrl": "https://drive.google.com/file/d/14hVbtKoG_UTEcX5crGYbJY3Af317xzNh/view?usp=drivesdk"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -672,
          -192
        ],
        "id": "170c6fe8-83b1-445f-9b4d-a0c44462427a",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "EPjI9NCOANqdMBKb",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -464,
          -192
        ],
        "id": "09c02756-f59a-4082-8107-2b3985d7b16f",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ",
            "mode": "list",
            "cachedResultName": "Job Search Preferences",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Filter",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -256,
          -192
        ],
        "id": "b557d834-0e27-43b9-8d40-7f75bd163122",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pH3TVxLVuEt7LSmn",
            "name": "Google Sheets"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\"\n\nconst keyword = $input.first().json.Keyword\nconst location = $input.first().json.Location\nconst experienceLevel = $input.first().json['Experience Level']\nconst remote = $input.first().json.Remote\nconst jobType = $input.first().json['Job Type']\nconst easyApply = $input.first().json['Easy Apply']\n\nif (keyword != \"\") {\n  url += `&keywords=${keyword}`;\n}\n\nif (location != \"\") {\n  url += `&location=${location}`;\n}\n\nif (experienceLevel !== \"\") {\n  // Transform experience levels to LinkedIn codes\n  // Internship -> 1, Entry level -> 2, Associate -> 3\n  // Mid-Senior level -> 4, Director -> 5, Executive -> 6\n  const transformedExperiences = experienceLevel\n    .split(\",\")\n    .map((exp) => {\n      switch (exp.trim()) {\n        case \"Internship\": return \"1\";\n        case \"Entry level\": return \"2\";\n        case \"Associate\": return \"3\";\n        case \"Mid-Senior level\": return \"4\";\n        case \"Director\": return \"5\";\n        case \"Executive\": return \"6\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_E=${transformedExperiences.join(\",\")}`;\n}\n\nif (remote.length != \"\") {\n  // Transform remote options to LinkedIn codes\n  // On-Site -> 1, Remote -> 2, Hybrid -> 3\n  const transformedRemote = remote\n    .split(\",\")\n    .map((e) => {\n      switch (e.trim()) {\n        case \"Remote\": return \"2\";\n        case \"Hybrid\": return \"3\";\n        case \"On-Site\": return \"1\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_WT=${transformedRemote.join(\",\")}`;\n}\n\nif (jobType != \"\") {\n  // Transform job types to LinkedIn codes\n  // Full-time -> F, Part-time -> P, Contract -> C, etc.\n  const transformedJobType = jobType\n    .split(\",\")\n    .map((type) => type.trim().charAt(0).toUpperCase());\n  url += `&f_JT=${transformedJobType.join(\",\")}`;\n}\n\nif (easyApply != \"\") {\n  url += \"&f_EA=true\";\n}\n\nreturn {url}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -48,
          -192
        ],
        "id": "bb620832-3a5d-455b-a401-c3ca834202df",
        "name": "Create search URL"
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          160,
          -192
        ],
        "id": "8961335e-dc36-414c-a4de-8d10171070f5",
        "name": "Fetch Jobs from LinkedIn"
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "extractionValues": {
            "values": [
              {
                "key": "links",
                "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
                "returnValue": "attribute",
                "attribute": "href",
                "returnArray": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          368,
          -192
        ],
        "id": "0969978d-2cff-4265-af83-f45d4faa2670",
        "name": "Extract Job Links"
      },
      {
        "parameters": {
          "fieldToSplitOut": "links",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          576,
          -208
        ],
        "id": "243662f1-2f2a-475c-9d4c-7552ab5bb839",
        "name": "Extract Job Links1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          848,
          272
        ],
        "id": "b606fd75-702c-4d93-8f4f-418948b81a03",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "amount": 8
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -880,
          0
        ],
        "id": "3346c68b-b2cb-4de6-83b7-c0e0adc91c69",
        "name": "Wait",
        "webhookId": "79a8c81a-7268-4279-a1cd-62dfe100e69a"
      },
      {
        "parameters": {
          "url": "={{ $json.links }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -672,
          0
        ],
        "id": "6767cbe0-3a21-45e7-a34b-061c5656ade7",
        "name": "Fetch Job Page",
        "retryOnFail": true,
        "executeOnce": false
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "extractionValues": {
            "values": [
              {
                "key": "title",
                "cssSelector": "div h1"
              },
              {
                "key": "company",
                "cssSelector": "div span a"
              },
              {
                "key": "location",
                "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
              },
              {
                "key": "description",
                "cssSelector": "div.description__text.description__text--rich"
              },
              {
                "key": "jobid",
                "cssSelector": "a[data-item-type='semaphore']",
                "returnValue": "attribute",
                "attribute": "data-semaphore-content-urn"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          -464,
          0
        ],
        "id": "73e6a8df-13db-4fc3-89c8-b8f7210f019a",
        "name": "Parse Job Attributes"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "59f08a8e-c353-447c-8529-a307ce6a95b3",
                "name": "company",
                "value": "={{ $json.company }}",
                "type": "string"
              },
              {
                "id": "07758be3-aa6d-439a-ba9e-23f21a0272ba",
                "name": "title",
                "value": "={{ $json.title }}",
                "type": "string"
              },
              {
                "id": "50998a12-3431-41d9-ab3f-d244dc8cff6a",
                "name": "description",
                "value": "={{ $json.description.replaceAll(/\\s+/g, \" \") }}",
                "type": "string"
              },
              {
                "id": "1f48146d-36f0-4eee-950c-c7f3802ffc0b",
                "name": "location",
                "value": "={{ $json.location }}",
                "type": "string"
              },
              {
                "id": "5d8df3f9-41cd-4248-9043-c943c2a86f35",
                "name": "jobid",
                "value": "={{ $json.jobid.split(\":\").last() }}",
                "type": "string"
              },
              {
                "id": "ae41c606-0210-4c6d-befe-687cc6d99180",
                "name": "applyLink",
                "value": "={{ \"https://www.linkedin.com/jobs/view/\"+ $json.jobid.split(\":\").last() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -256,
          0
        ],
        "id": "2589f8f5-4b42-45d3-ab4b-1acb25c197f4",
        "name": "Modify Job Attributes"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are an assistant that helps match candidates to job opportunities. Your task is to review my resume, then analyze both the resume and job description to calculate a job matching score. Additionally, create a cover letter based on my resume and the job description. The cover letter should contain at least 2 paragraphs and should exclude the name, address, and signature sections from the beginning and end.\n\nWhen using special characters like quotation marks (\"), ensure they are properly escaped with a backslash. The output must be formatted as valid JSON that can be parsed without errors.\n\nFor example your response should be like: {\"score\": 80, \"coverLetter\": \"sample cover letter\" }\n\njob_description: {{ $json.description }}\nmy_resume: {{ $('Extract from File').item.json.text }}\n",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -768,
          240
        ],
        "id": "a909b611-7404-48bd-886b-41c1222ea1ec",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -848,
          384
        ],
        "id": "b176fe2b-bcd0-4502-b9ca-fb0d79bc7620",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "3uUCLR5yvdkNtbXj",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $json.output.replaceAll(/```(?:json)?/g, \"\") }}",
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -416,
          240
        ],
        "id": "f1e3da59-3bb5-40cc-8764-a53596df1999",
        "name": "Parse AI Output"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ",
            "mode": "list",
            "cachedResultName": "Job Search Preferences",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1128377851,
            "mode": "list",
            "cachedResultName": "Result",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ/edit#gid=1128377851"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "link": "={{ $('Modify Job Attributes').item.json.applyLink }}",
              "Title": "={{ $('Modify Job Attributes').item.json.title }}",
              "Company": "={{ $('Modify Job Attributes').item.json.company }}",
              "Location": "={{ $('Modify Job Attributes').item.json.location }}",
              "description": "={{ $('Modify Job Attributes').item.json.description }}",
              "score": "={{ $json.score }}",
              "Cover Letter": "={{ $json.coverLetter }}"
            },
            "matchingColumns": [
              "link"
            ],
            "schema": [
              {
                "id": "Title",
                "displayName": "Title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Company",
                "displayName": "Company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Location",
                "displayName": "Location",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "link",
                "displayName": "link",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "description",
                "displayName": "description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "score",
                "displayName": "score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Cover Letter",
                "displayName": "Cover Letter",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -208,
          240
        ],
        "id": "770ebe11-8c12-42e0-a8bb-6d900453b96e",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pH3TVxLVuEt7LSmn",
            "name": "Google Sheets"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "433a0de6-f189-4c6e-b34c-f43a6603c7f9",
                "leftValue": "={{ $json.score }}",
                "rightValue": 75,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          0,
          240
        ],
        "id": "aa51ebd9-63c7-4871-ad6d-13f89aa5a956",
        "name": "Score Filter"
      },
      {
        "parameters": {
          "chatId": "5870531738",
          "text": "=Title: {{ $('Modify Job Attributes').item.json.title }}\nCompany: {{ $('Modify Job Attributes').item.json.company }}\nLocation: {{ $('Modify Job Attributes').item.json.location }}\nJob Score: {{ $json.score }}\nApply: {{ $('Modify Job Attributes').item.json.applyLink }}\nCopy Cover Letter from here - https://docs.google.com/spreadsheets/d/16vm6UGA74U6eKOhVjq-IUUHqjCLm0WAo_dVtrnh50AQ\n",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          208,
          144
        ],
        "id": "3640bfa2-75b1-4665-80d9-cb9de95f4a92",
        "name": "Send a text message",
        "webhookId": "80899c6b-d1c2-4d76-8c8d-532caa83da8f",
        "credentials": {
          "telegramApi": {
            "id": "i5VGPAGcIQB6DQ6M",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Create search URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create search URL": {
        "main": [
          [
            {
              "node": "Fetch Jobs from LinkedIn",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Jobs from LinkedIn": {
        "main": [
          [
            {
              "node": "Extract Job Links",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Job Links": {
        "main": [
          [
            {
              "node": "Extract Job Links1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Job Links1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Fetch Job Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Job Page": {
        "main": [
          [
            {
              "node": "Parse Job Attributes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Job Attributes": {
        "main": [
          [
            {
              "node": "Modify Job Attributes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Modify Job Attributes": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Parse AI Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse AI Output": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet": {
        "main": [
          [
            {
              "node": "Score Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Score Filter": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "trelos skilos",
    "name": null,
    "description": null
  },
  "tags": []
}