working_automated-n8n-credential-backups-to-google-drive-with-scheduled-execution-.json
{
  "updatedAt": "2025-11-12T09:29:25.000Z",
  "createdAt": "2025-10-25T10:03:14.518Z",
  "id": "NjY5NKbirAEWrDLx",
  "name": "Working_Automated n8n Credential Backups to Google Drive with Scheduled Execution",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "550155aa-dfd0-4bbe-b3c7-26891c1903dd",
      "name": "On Click Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        368,
        240
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "command": "npx n8n export:credentials --all --decrypted"
      },
      "id": "000cbe87-24bb-41a2-a6db-4dc12529b191",
      "name": "Execute Command Get All Cridentials",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        832,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"
      },
      "id": "1d6c568b-1bbd-458c-b5c9-d209a6cc44e5",
      "name": "JSON Formatting Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1040,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "2c41e6b0-b1c2-4102-a37f-403b5438caf3",
      "name": "Aggregate Cridentials",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1232,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Export All Credentials From N8n",
        "height": 292,
        "width": 911
      },
      "id": "d6a08fd5-16c6-4746-ab23-9dd956eda393",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "458c133d-ce5e-4fc5-9af5-79b04e86a18d",
      "name": "Convert To File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1440,
        240
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Google Drive Folder",
        "height": 292,
        "width": 311
      },
      "id": "0e39d74f-53ee-4b9e-b213-97bfaa605e78",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=n8n_backup_credentials_{{ $now.format('cccc_t_dd-MM-yyyy') }}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "11fPE6rakyqih9hGGYp5ZhK_eWdP9hMny",
          "mode": "list",
          "cachedResultName": "n8n_credentials",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11fPE6rakyqih9hGGYp5ZhK_eWdP9hMny"
        },
        "options": {}
      },
      "id": "afd3b1ce-bd9e-4dda-bb9a-d27f343f57a1",
      "name": "Google Drive Upload File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1856,
        240
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EPjI9NCOANqdMBKb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "id": "62a9e8c8-9731-459b-98c7-9befaf4c7cce",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        368,
        448
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sendTo": "seremvas76@gmail.com",
        "subject": "n8n credentials uploaded",
        "message": "=<div style=\"\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: #f9fafb;\n  border: 1px solid #e5e7eb;\n  border-radius: 10px;\n  padding: 20px;\n  max-width: 500px;\n  color: #111827;\n\">\n  <p style=\"font-size: 16px; margin-bottom: 15px;\">\n    ✅ The file <strong style=\"color: #1d4ed8;\">{{ $json.name }}</strong> has been successfully uploaded to Google Drive.\n  </p>\n\n  <p style=\"font-size: 15px; margin-bottom: 0;\">\n    📎 You can download it here: <br>\n    <a href=\"{{ $json.webContentLink }}\" \n       style=\"color: #2563eb; text-decoration: none; font-weight: 500;\"\n       target=\"_blank\">\n       {{ $json.webContentLink }}\n    </a><br>\n    <br>- Current date: <strong style=\"color: #1d4ed8;\">{{ $now.format('dd-MM-yyyy') }} </strong><br>\n    - Current time: <strong style=\"color: #1d4ed8;\">{{ $now.format('hh:mm a') }}</strong>\n  </p>\n</div>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2064,
        240
      ],
      "id": "35621ac3-875c-4203-8661-3cc56cbe3381",
      "name": "Send a message",
      "webhookId": "a1f3eddf-1587-4635-8eaa-6e7766125f4d",
      "credentials": {
        "gmailOAuth2": {
          "id": "WBaGzd89qjgz8bxH",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Convert To File": {
      "main": [
        [
          {
            "node": "Google Drive Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Click Trigger": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command Get All Cridentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Formatting Data": {
      "main": [
        [
          {
            "node": "Aggregate Cridentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Cridentials": {
      "main": [
        [
          {
            "node": "Convert To File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command Get All Cridentials": {
      "main": [
        [
          {
            "node": "JSON Formatting Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Athens",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "availableInMCP": false,
    "errorWorkflow": "g6VSaJXbw9uphgte"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateId": "4517",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bfef8c0a-f0e5-47d6-b787-42e2d12371dd",
  "activeVersionId": "bfef8c0a-f0e5-47d6-b787-42e2d12371dd",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-25T10:03:14.520Z",
      "createdAt": "2025-10-25T10:03:14.520Z",
      "role": "workflow:owner",
      "workflowId": "NjY5NKbirAEWrDLx",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-28T13:36:06.316Z",
    "createdAt": "2025-11-28T13:36:06.316Z",
    "versionId": "bfef8c0a-f0e5-47d6-b787-42e2d12371dd",
    "workflowId": "NjY5NKbirAEWrDLx",
    "nodes": [
      {
        "parameters": {},
        "id": "550155aa-dfd0-4bbe-b3c7-26891c1903dd",
        "name": "On Click Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          368,
          240
        ],
        "typeVersion": 1,
        "disabled": true
      },
      {
        "parameters": {
          "command": "npx n8n export:credentials --all --decrypted"
        },
        "id": "000cbe87-24bb-41a2-a6db-4dc12529b191",
        "name": "Execute Command Get All Cridentials",
        "type": "n8n-nodes-base.executeCommand",
        "position": [
          832,
          240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"
        },
        "id": "1d6c568b-1bbd-458c-b5c9-d209a6cc44e5",
        "name": "JSON Formatting Data",
        "type": "n8n-nodes-base.code",
        "position": [
          1040,
          240
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "2c41e6b0-b1c2-4102-a37f-403b5438caf3",
        "name": "Aggregate Cridentials",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          1232,
          240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Export All Credentials From N8n",
          "height": 292,
          "width": 911
        },
        "id": "d6a08fd5-16c6-4746-ab23-9dd956eda393",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          736,
          160
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "=data",
          "options": {}
        },
        "id": "458c133d-ce5e-4fc5-9af5-79b04e86a18d",
        "name": "Convert To File",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          1440,
          240
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "content": "## Google Drive Folder",
          "height": 292,
          "width": 311
        },
        "id": "0e39d74f-53ee-4b9e-b213-97bfaa605e78",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1760,
          160
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "inputDataFieldName": "=data",
          "name": "=n8n_backup_credentials_{{ $now.format('cccc_t_dd-MM-yyyy') }}.json",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive",
            "cachedResultName": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "11fPE6rakyqih9hGGYp5ZhK_eWdP9hMny",
            "mode": "list",
            "cachedResultName": "n8n_credentials",
            "cachedResultUrl": "https://drive.google.com/drive/folders/11fPE6rakyqih9hGGYp5ZhK_eWdP9hMny"
          },
          "options": {}
        },
        "id": "afd3b1ce-bd9e-4dda-bb9a-d27f343f57a1",
        "name": "Google Drive Upload File",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          1856,
          240
        ],
        "typeVersion": 3,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "EPjI9NCOANqdMBKb",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9,
                "triggerAtMinute": 5
              }
            ]
          }
        },
        "id": "62a9e8c8-9731-459b-98c7-9befaf4c7cce",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          368,
          448
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "sendTo": "seremvas76@gmail.com",
          "subject": "n8n credentials uploaded",
          "message": "=<div style=\"\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: #f9fafb;\n  border: 1px solid #e5e7eb;\n  border-radius: 10px;\n  padding: 20px;\n  max-width: 500px;\n  color: #111827;\n\">\n  <p style=\"font-size: 16px; margin-bottom: 15px;\">\n    ✅ The file <strong style=\"color: #1d4ed8;\">{{ $json.name }}</strong> has been successfully uploaded to Google Drive.\n  </p>\n\n  <p style=\"font-size: 15px; margin-bottom: 0;\">\n    📎 You can download it here: <br>\n    <a href=\"{{ $json.webContentLink }}\" \n       style=\"color: #2563eb; text-decoration: none; font-weight: 500;\"\n       target=\"_blank\">\n       {{ $json.webContentLink }}\n    </a><br>\n    <br>- Current date: <strong style=\"color: #1d4ed8;\">{{ $now.format('dd-MM-yyyy') }} </strong><br>\n    - Current time: <strong style=\"color: #1d4ed8;\">{{ $now.format('hh:mm a') }}</strong>\n  </p>\n</div>\n",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2064,
          240
        ],
        "id": "35621ac3-875c-4203-8661-3cc56cbe3381",
        "name": "Send a message",
        "webhookId": "a1f3eddf-1587-4635-8eaa-6e7766125f4d",
        "credentials": {
          "gmailOAuth2": {
            "id": "WBaGzd89qjgz8bxH",
            "name": "Gmail account"
          }
        }
      }
    ],
    "connections": {
      "Convert To File": {
        "main": [
          [
            {
              "node": "Google Drive Upload File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On Click Trigger": {
        "main": [
          []
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute Command Get All Cridentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON Formatting Data": {
        "main": [
          [
            {
              "node": "Aggregate Cridentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Cridentials": {
        "main": [
          [
            {
              "node": "Convert To File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command Get All Cridentials": {
        "main": [
          [
            {
              "node": "JSON Formatting Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Upload File": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "tags": []
}