working_apify-people-per-hour-.json
{
  "updatedAt": "2026-04-19T08:44:08.062Z",
  "createdAt": "2025-11-26T17:11:41.481Z",
  "id": "apArQjq1ZukwLDzC",
  "name": "Working_Apify People Per Hour",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        -32
      ],
      "id": "21efc12d-04fd-467f-9ea5-542abd116e5d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "OHmiAvRB1gsj5z1R1",
          "mode": "list",
          "cachedResultName": "PeoplePerHour Job Scraper (getdataforme/PeoplePerHour-Job-Scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/OHmiAvRB1gsj5z1R1/input"
        },
        "customBody": "{\n    \"item_limit\": 20,\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true,\n        \"apifyProxyGroups\": [\n            \"RESIDENTIAL\"\n        ]\n    },\n    \"queries\": [\n        \"server\",\n        \"Greece\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -320,
        -32
      ],
      "id": "1cbf8aac-97b7-4839-8436-ac6ab6f0532e",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "PaDumLHavGVSAVJW",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04b2eed5-6d3f-45dd-874c-8c4402eae8d8",
              "name": "Title - Query",
              "value": "={{ $json.title }} - {{ $json.query }}",
              "type": "string"
            },
            {
              "id": "78160a1c-93b8-466c-b2ab-87edd29a5963",
              "name": "Description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "8a4dbfb0-013b-4be6-a499-2c047336ea18",
              "name": "Buget in EUR (aprox)",
              "value": "={{ $json.budget * 1.17 }}€\n",
              "type": "string"
            },
            {
              "id": "13e333a8-3ba1-47b6-a3cf-572ed32ed453",
              "name": "Proposals",
              "value": "={{ $json.proposal_count }}",
              "type": "string"
            },
            {
              "id": "9af213f3-aefc-4206-87c5-4d4596aed456",
              "name": "Client Name",
              "value": "={{ $json.client_name }}",
              "type": "string"
            },
            {
              "id": "2796dfb6-70d3-4df8-84c3-9a6d52b0d412",
              "name": "Client Country",
              "value": "={{ $json.client_country }}",
              "type": "string"
            },
            {
              "id": "84c27010-9b5b-4c4f-ad86-ffa58739fb4b",
              "name": "Duration",
              "value": "={{ $json.posted_date }} - {{ $json.expiry_date }}",
              "type": "string"
            },
            {
              "id": "84868d1d-6933-467f-9e64-64aad3ab702e",
              "name": "URL",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -32
      ],
      "id": "904cfcdb-5617-4634-9cfa-c45916316660",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// \"items\" contains the rows from Edit Fields\nconst rows = items;\n\n// Protect against empty data\nif (!rows.length) {\n  return [{ json: {}, binary: {} }];\n}\n\n// Get headers from first row\nconst headers = Object.keys(rows[0].json);\n\n// Styled HTML table\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody {\n  font-family: Arial, sans-serif;\n  padding: 20px;\n}\n\ntable {\n  border-collapse: collapse;\n  width: 100%;\n  font-size: 14px;\n}\n\nth {\n  background: #4CAF50;\n  color: white;\n  padding: 10px;\n  text-align: left;\n}\n\ntd {\n  padding: 10px;\n  border-bottom: 1px solid #ddd;\n}\n\ntr:nth-child(even) {\n  background-color: #f9f9f9;\n}\n\ntr:hover {\n  background-color: #f1f1f1;\n}\n</style>\n</head>\n<body>\n\n<h2>Generated Report</h2>\n\n<table>\n`;\n\n// Header row\nhtml += `<tr>`;\nfor (const h of headers) {\n  html += `<th>${h}</th>`;\n}\nhtml += `</tr>`;\n\n// Data rows\nfor (const row of rows) {\n  html += `<tr>`;\n  for (const h of headers) {\n    html += `<td>${row.json[h] ?? \"\"}</td>`;\n  }\n  html += `</tr>`;\n}\n\nhtml += `\n</table>\n\n</body>\n</html>\n`;\n\n// Convert HTML into a binary file\nconst buffer = Buffer.from(html, \"utf8\");\n\nreturn [\n  {\n    json: {\n      message: \"Styled HTML table created\",\n    },\n    binary: {\n      data: {\n        data: buffer.toString(\"base64\"),\n        mimeType: \"application/octet-stream\",  // FIX\n        fileName: \"PPH.htm\",         // Ensure .html extension\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -256
      ],
      "id": "69cd4c03-1dbc-4194-be25-aa57814c0ae6",
      "name": "Convert to html table and export to html file",
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "seremvas76@gmail.com",
        "subject": "PPH Results for Server",
        "message": "=Attached the pph file for Server Projects  ",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "PPH.pdf"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        -224
      ],
      "id": "ce444afa-3b5d-4251-a4d0-e1a44a17efc9",
      "name": "Send a message",
      "webhookId": "cb58e81d-93c3-4aec-aadf-9bb7c27f8d16",
      "credentials": {
        "gmailOAuth2": {
          "id": "WBaGzd89qjgz8bxH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// \"items\" contains the rows from Edit Fields\nconst rows = items;\n\n// Protect against empty data\nif (!rows.length) {\n  return [{ json: {}, binary: {} }];\n}\n\n// Get headers from first row\nconst headers = Object.keys(rows[0].json);\n\n// Styled HTML table\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody {\n  font-family: Arial, sans-serif;\n  padding: 20px;\n}\n\ntable {\n  border-collapse: collapse;\n  width: 100%;\n  font-size: 14px;\n}\n\nth {\n  background: #4CAF50;\n  color: white;\n  padding: 10px;\n  text-align: left;\n}\n\ntd {\n  padding: 10px;\n  border-bottom: 1px solid #ddd;\n}\n\ntr:nth-child(even) {\n  background-color: #f9f9f9;\n}\n\ntr:hover {\n  background-color: #f1f1f1;\n}\n</style>\n</head>\n<body>\n\n<h2>Generated Report</h2>\n\n<table>\n`;\n\n// Header row\nhtml += `<tr>`;\nfor (const h of headers) {\n  html += `<th>${h}</th>`;\n}\nhtml += `</tr>`;\n\n// Data rows\nfor (const row of rows) {\n  html += `<tr>`;\n  for (const h of headers) {\n    html += `<td>${row.json[h] ?? \"\"}</td>`;\n  }\n  html += `</tr>`;\n}\n\nhtml += `\n</table>\n\n</body>\n</html>\n`;\n\n// Convert HTML into a binary file\nconst buffer = Buffer.from(html, \"utf8\");\n\nreturn [\n  {\n    json: {\n      html,      // the full HTML string\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -160
      ],
      "id": "433c2092-5c4e-4ac8-b3c3-4d50b35b5596",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api.pdflayer.com/api/convert?access_key=80985d6b10e4f55460e77f50f2a8c55c",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "document_html",
              "value": "={{ $json.html }}"
            },
            {
              "name": "document_name",
              "value": "PPH.pdf"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        16
      ],
      "id": "93333b19-cb09-428c-8b4b-ae46f3f1f766",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5408ede8-909f-4b43-bf00-0f2fc1ff9f2f",
              "name": "PPH.pdf",
              "value": "=data",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -272
      ],
      "id": "491b8ba6-3cd6-4bc0-bd15-0df0a0fc380f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming items\nreturn $input.all().map(item => {\n    \n    // Check if the item has a binary container\n    if (item.binary) {\n\n        // Check for the newly created key 'PPH.pdf'\n        if (item.binary['PPH.pdf']) {\n            // ACTION 1: Change the internal file name metadata\n            item.binary['PPH.pdf'].fileName = 'PPH.pdf';\n        }\n\n        // ACTION 2: Remove the old property key\n        if (item.binary.data) {\n            delete item.binary.data;\n        }\n\n    }\n    // Return the modified item\n    return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -16
      ],
      "id": "95cd0ad6-a18c-4edb-add1-cf96c8e2fc1b",
      "name": "Change to pph.pdf"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to html table and export to html file": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Change to pph.pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change to pph.pdf": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Athens",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "g6VSaJXbw9uphgte"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5dcc168c-9589-4e80-8b33-92aa0b16b3b5",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-26T17:11:41.482Z",
      "createdAt": "2025-11-26T17:11:41.482Z",
      "role": "workflow:owner",
      "workflowId": "apArQjq1ZukwLDzC",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": null,
  "tags": []
}