working_olama_9am_linkedin-job-alert---share-.json
{
  "updatedAt": "2025-12-11T19:39:19.700Z",
  "createdAt": "2025-12-11T13:47:41.864Z",
  "id": "dIPH4PaHsQMfja9b",
  "name": "Working_Olama_9am_Linkedin Job Alert - share",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        -48
      ],
      "id": "e3c795e2-d900-4521-9f3b-e5a1e03b3bcc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        256
      ],
      "id": "48b876d8-806b-4b05-865a-040e03ced05a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "chatId": "5870531738",
        "text": "=Title: {{ $('Parse').item.json.title }}\nCompany: {{ $('Parse').item.json.company }}\nLocation: {{ $('Parse').item.json.location }}\nJob Score: {{ $json.job_match_score }}\nApply: {{ $('Parse').item.json.link }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        544
      ],
      "id": "04d225db-13aa-41e9-a74a-f7c6c7d63f78",
      "name": "Telegram",
      "webhookId": "17b9ebe8-c8d4-4bd9-ad20-45842ddc2c00",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.linkedin.com/jobs/search?keywords=IT&location=Athens&geoId=103077496&distance=50&f_TPR=r604800&f_WT=3&position=1&pageNum=0",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        0
      ],
      "id": "2cc6d279-c729-4b3d-acfa-12002b9f009b",
      "name": "Scrape Last 24 hours Job"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom urllib.parse import urlparse, urlunparse\nfrom bs4 import BeautifulSoup\n\n\nhtml = _input.all()[0]['json']['data']\nsoup = BeautifulSoup(html, 'html.parser')\n\njob_links = soup.select('ul.jobs-search__results-list li div a[class*=\"base-card\"]')\n\n\n\njob_urls = []\nfor a_tag in job_links:\n    href = a_tag.get('href')\n    if href:\n\n        parsed = urlparse(href)\n        parsed_new = parsed._replace(netloc=\"www.linkedin.com\")\n        new_url = urlunparse(parsed_new)\n        job_urls.append(new_url)\n\n\n\n\nreturn {\"links\": job_urls}\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ],
      "id": "4ae543dd-f69c-41c4-9913-91ca0d598037",
      "name": "Extract Job Links"
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        272
      ],
      "id": "1b8c312f-264b-466d-ae0a-f6636f53a188",
      "name": "Scrape Each Job",
      "retryOnFail": true,
      "executeOnce": false,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from bs4 import BeautifulSoup\n\n\nhtml = _input.all()[0]['json']['data']\nsoup = BeautifulSoup(html, 'html.parser')\n\ntitle = soup.select('div h1')[0].text\ncompany = soup.select('div span a')[0].text.strip()\n\nlocation = soup.select(\"div span[class*='topcard__flavor topcard__flavor--bullet']\")[0].text.strip()\n\njd_container = soup.find(\"div\", class_=\"description__text description__text--rich\")\n\nif jd_container:\n    \n  complete_jd = jd_container.get_text(separator=\"\\n\", strip=True)\n    \nelse:\n    company_jd = \"no jd\"\n\n\nurns = [a.get(\"data-semaphore-content-urn\") for a in soup.select(\"a[data-item-type='semaphore']\")]\n\njob_id =urns[0].split(\":\")[-1]\n\n\napply_link = \"https://www.linkedin.com/jobs/view/\" + job_id\napply_link\n\n\nreturn {\n  \"title\": title,\n  \"company\": company,\n  \"location\": location,\n  \"jd\": complete_jd,\n  \"link\": apply_link\n  \n  \n}\n\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        272
      ],
      "id": "52529122-4430-40bc-96c0-0a46d570b471",
      "name": "Parse"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\n# Get the text response from Gemini\ntext = _input.all()[0]['json']['text']\n\n# Remove markdown code blocks if present\ntext = re.sub(r'```json\\s*', '', text)\ntext = re.sub(r'```\\s*', '', text)\ntext = text.strip()\n\n# Try to extract JSON from the text\ntry:\n    # First try direct JSON parsing\n    data = json.loads(text)\nexcept json.JSONDecodeError:\n    # If that fails, try to find JSON object in the text\n    json_match = re.search(r'\\{.*\\}', text, re.DOTALL)\n    if json_match:\n        try:\n            data = json.loads(json_match.group())\n        except:\n            # Fallback: create a default score\n            data = {\"job_match_score\": 50}\n    else:\n        # Fallback: create a default score\n        data = {\"job_match_score\": 50}\n\nreturn data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        512
      ],
      "id": "7612abeb-2a0e-44ff-a534-d8e2ba122fae",
      "name": "Extract JSON Score"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        736,
        272
      ],
      "id": "6bb09f00-2c01-4611-a5ef-680716f32f3a",
      "name": "Wait",
      "webhookId": "c9cb4878-ae4d-4b8e-bd37-5395011f7761"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        16
      ],
      "id": "d3918550-32ae-44a9-99ea-6e2590d9066c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1499f1ac-a7ae-4983-85c7-aa7b8445b2e2",
              "leftValue": "={{ $json.job_match_score }}",
              "rightValue": 65,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        464
      ],
      "id": "bd96e574-d923-49e5-8ea9-88f86a859143",
      "name": "Score Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "500890d8-f9a0-4075-8419-664c13f9428f",
              "name": "resume",
              "value": "I am Vasileios Seremetis. I am an experienced in IT Support , L1 - L3, and in  IT Systems & Network Administrator with over 20 years of expertise in IT infrastructure, virtualization, cloud computing, and technical support. Skilled in leading IT operations, managing hybrid environments, and implementing secure, reliable solutions for businesses. Strong communicator with a track record of delivering IT projects and supporting enterprise environments.",
              "type": "string"
            },
            {
              "id": "ae8adfc4-db9e-40ea-8f8d-c45f4113d1ab",
              "name": "core_skills",
              "value": "Virtualization: VMware, Proxmox, Hyper-V\tVoIP: Asterisk, FreePBX, Issabel, Cloud: Contabo, Hetzner Cloud, VPS\t Backup: Synology, Proxmox Backup, OpenMediaVault  Systems: Windows Server, Linux Admin\t Collaboration: Microsoft 365, Zimbra, ManageEngine Networking: VPNs (WireGuard, Mikrotik), Firewalls\t Security: CSF, Fail2Ban, VoIPBL, Apiban",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        0
      ],
      "id": "cb61eef2-9433-428d-a6b2-3867e8fb8053",
      "name": "resume"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi, you are a helpful job matcher, you analyze the given resume and job description and providing a job matching score in a json format    for example   your response should be like {\"job_match_score\": 80 }  make sure you give project json data, dont give any json markdown text and all  my resume: {{ $('resume').item.json.resume }} and my skills: {{ $('resume').item.json.core_skills }}  job_description:    {{ $json.jd }}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Hi, you are a helpful job matcher, you analyze the given resume and job description and providing a job matching score in a json format    for example   your response should be like {\"job_match_score\": 80 }  make sure you give project json data, dont give any json markdown text and all  my resume: {{ $('resume').item.json.resume }}   job_description:    {{ $json.jd }} and url: {{ $json.link }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1392,
        240
      ],
      "id": "0a46e64e-197a-4a5d-8153-b29ecf46f4be",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1744,
        416
      ],
      "id": "6c5d7bf6-ce45-4a52-8f77-1922460f8799",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3uUCLR5yvdkNtbXj",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "mistral:7b-instruct-q4_0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1232,
        576
      ],
      "id": "7aa62709-6d57-42b5-8538-97d0f01a7a70",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "0ETxcr9uFCQDEfJV",
          "name": "Ollama account"
        }
      }
    }
  ],
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Last 24 hours Job": {
      "main": [
        [
          {
            "node": "Extract Job Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Links": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Each Job": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Extract JSON Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON Score": {
      "main": [
        [
          {
            "node": "Score Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Scrape Each Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Filter": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resume": {
      "main": [
        [
          {
            "node": "Scrape Last 24 hours Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Athens",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "g6VSaJXbw9uphgte"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fef3cd2d-c4f8-47e3-9153-df7cfd47cf9b",
  "activeVersionId": "fef3cd2d-c4f8-47e3-9153-df7cfd47cf9b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-11T13:47:41.867Z",
      "createdAt": "2025-12-11T13:47:41.867Z",
      "role": "workflow:owner",
      "workflowId": "dIPH4PaHsQMfja9b",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-11T19:39:19.701Z",
    "createdAt": "2025-12-11T19:39:19.701Z",
    "versionId": "fef3cd2d-c4f8-47e3-9153-df7cfd47cf9b",
    "workflowId": "dIPH4PaHsQMfja9b",
    "nodes": [
      {
        "parameters": {
          "fieldToSplitOut": "links",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1200,
          -48
        ],
        "id": "e3c795e2-d900-4521-9f3b-e5a1e03b3bcc",
        "name": "Split Out"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          496,
          256
        ],
        "id": "48b876d8-806b-4b05-865a-040e03ced05a",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "chatId": "5870531738",
          "text": "=Title: {{ $('Parse').item.json.title }}\nCompany: {{ $('Parse').item.json.company }}\nLocation: {{ $('Parse').item.json.location }}\nJob Score: {{ $json.job_match_score }}\nApply: {{ $('Parse').item.json.link }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1632,
          544
        ],
        "id": "04d225db-13aa-41e9-a74a-f7c6c7d63f78",
        "name": "Telegram",
        "webhookId": "17b9ebe8-c8d4-4bd9-ad20-45842ddc2c00",
        "credentials": {
          "telegramApi": {
            "id": "i5VGPAGcIQB6DQ6M",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://www.linkedin.com/jobs/search?keywords=IT&location=Athens&geoId=103077496&distance=50&f_TPR=r604800&f_WT=3&position=1&pageNum=0",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          576,
          0
        ],
        "id": "2cc6d279-c729-4b3d-acfa-12002b9f009b",
        "name": "Scrape Last 24 hours Job"
      },
      {
        "parameters": {
          "language": "python",
          "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom urllib.parse import urlparse, urlunparse\nfrom bs4 import BeautifulSoup\n\n\nhtml = _input.all()[0]['json']['data']\nsoup = BeautifulSoup(html, 'html.parser')\n\njob_links = soup.select('ul.jobs-search__results-list li div a[class*=\"base-card\"]')\n\n\n\njob_urls = []\nfor a_tag in job_links:\n    href = a_tag.get('href')\n    if href:\n\n        parsed = urlparse(href)\n        parsed_new = parsed._replace(netloc=\"www.linkedin.com\")\n        new_url = urlunparse(parsed_new)\n        job_urls.append(new_url)\n\n\n\n\nreturn {\"links\": job_urls}\n\n\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          0
        ],
        "id": "4ae543dd-f69c-41c4-9913-91ca0d598037",
        "name": "Extract Job Links"
      },
      {
        "parameters": {
          "url": "={{ $json.links }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          928,
          272
        ],
        "id": "1b8c312f-264b-466d-ae0a-f6636f53a188",
        "name": "Scrape Each Job",
        "retryOnFail": true,
        "executeOnce": false,
        "waitBetweenTries": 5000,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "language": "python",
          "pythonCode": "from bs4 import BeautifulSoup\n\n\nhtml = _input.all()[0]['json']['data']\nsoup = BeautifulSoup(html, 'html.parser')\n\ntitle = soup.select('div h1')[0].text\ncompany = soup.select('div span a')[0].text.strip()\n\nlocation = soup.select(\"div span[class*='topcard__flavor topcard__flavor--bullet']\")[0].text.strip()\n\njd_container = soup.find(\"div\", class_=\"description__text description__text--rich\")\n\nif jd_container:\n    \n  complete_jd = jd_container.get_text(separator=\"\\n\", strip=True)\n    \nelse:\n    company_jd = \"no jd\"\n\n\nurns = [a.get(\"data-semaphore-content-urn\") for a in soup.select(\"a[data-item-type='semaphore']\")]\n\njob_id =urns[0].split(\":\")[-1]\n\n\napply_link = \"https://www.linkedin.com/jobs/view/\" + job_id\napply_link\n\n\nreturn {\n  \"title\": title,\n  \"company\": company,\n  \"location\": location,\n  \"jd\": complete_jd,\n  \"link\": apply_link\n  \n  \n}\n\n\n\n\n\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          272
        ],
        "id": "52529122-4430-40bc-96c0-0a46d570b471",
        "name": "Parse"
      },
      {
        "parameters": {
          "language": "python",
          "pythonCode": "import json\nimport re\n\n# Get the text response from Gemini\ntext = _input.all()[0]['json']['text']\n\n# Remove markdown code blocks if present\ntext = re.sub(r'```json\\s*', '', text)\ntext = re.sub(r'```\\s*', '', text)\ntext = text.strip()\n\n# Try to extract JSON from the text\ntry:\n    # First try direct JSON parsing\n    data = json.loads(text)\nexcept json.JSONDecodeError:\n    # If that fails, try to find JSON object in the text\n    json_match = re.search(r'\\{.*\\}', text, re.DOTALL)\n    if json_match:\n        try:\n            data = json.loads(json_match.group())\n        except:\n            # Fallback: create a default score\n            data = {\"job_match_score\": 50}\n    else:\n        # Fallback: create a default score\n        data = {\"job_match_score\": 50}\n\nreturn data"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          544,
          512
        ],
        "id": "7612abeb-2a0e-44ff-a534-d8e2ba122fae",
        "name": "Extract JSON Score"
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          736,
          272
        ],
        "id": "6bb09f00-2c01-4611-a5ef-680716f32f3a",
        "name": "Wait",
        "webhookId": "c9cb4878-ae4d-4b8e-bd37-5395011f7761"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9,
                "triggerAtMinute": 5
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -16,
          16
        ],
        "id": "d3918550-32ae-44a9-99ea-6e2590d9066c",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "1499f1ac-a7ae-4983-85c7-aa7b8445b2e2",
                "leftValue": "={{ $json.job_match_score }}",
                "rightValue": 65,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          880,
          464
        ],
        "id": "bd96e574-d923-49e5-8ea9-88f86a859143",
        "name": "Score Filter"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "500890d8-f9a0-4075-8419-664c13f9428f",
                "name": "resume",
                "value": "I am Vasileios Seremetis. I am an experienced in IT Support , L1 - L3, and in  IT Systems & Network Administrator with over 20 years of expertise in IT infrastructure, virtualization, cloud computing, and technical support. Skilled in leading IT operations, managing hybrid environments, and implementing secure, reliable solutions for businesses. Strong communicator with a track record of delivering IT projects and supporting enterprise environments.",
                "type": "string"
              },
              {
                "id": "ae8adfc4-db9e-40ea-8f8d-c45f4113d1ab",
                "name": "core_skills",
                "value": "Virtualization: VMware, Proxmox, Hyper-V\tVoIP: Asterisk, FreePBX, Issabel, Cloud: Contabo, Hetzner Cloud, VPS\t Backup: Synology, Proxmox Backup, OpenMediaVault  Systems: Windows Server, Linux Admin\t Collaboration: Microsoft 365, Zimbra, ManageEngine Networking: VPNs (WireGuard, Mikrotik), Firewalls\t Security: CSF, Fail2Ban, VoIPBL, Apiban",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          272,
          0
        ],
        "id": "cb61eef2-9433-428d-a6b2-3867e8fb8053",
        "name": "resume"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Hi, you are a helpful job matcher, you analyze the given resume and job description and providing a job matching score in a json format    for example   your response should be like {\"job_match_score\": 80 }  make sure you give project json data, dont give any json markdown text and all  my resume: {{ $('resume').item.json.resume }} and my skills: {{ $('resume').item.json.core_skills }}  job_description:    {{ $json.jd }}",
          "messages": {
            "messageValues": [
              {
                "type": "HumanMessagePromptTemplate",
                "message": "=Hi, you are a helpful job matcher, you analyze the given resume and job description and providing a job matching score in a json format    for example   your response should be like {\"job_match_score\": 80 }  make sure you give project json data, dont give any json markdown text and all  my resume: {{ $('resume').item.json.resume }}   job_description:    {{ $json.jd }} and url: {{ $json.link }}"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1392,
          240
        ],
        "id": "0a46e64e-197a-4a5d-8153-b29ecf46f4be",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.0-flash",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1744,
          416
        ],
        "id": "6c5d7bf6-ce45-4a52-8f77-1922460f8799",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "3uUCLR5yvdkNtbXj",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "model": "mistral:7b-instruct-q4_0",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          1232,
          576
        ],
        "id": "7aa62709-6d57-42b5-8538-97d0f01a7a70",
        "name": "Ollama Chat Model",
        "credentials": {
          "ollamaApi": {
            "id": "0ETxcr9uFCQDEfJV",
            "name": "Ollama account"
          }
        }
      }
    ],
    "connections": {
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scrape Last 24 hours Job": {
        "main": [
          [
            {
              "node": "Extract Job Links",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Job Links": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scrape Each Job": {
        "main": [
          [
            {
              "node": "Parse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Extract JSON Score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract JSON Score": {
        "main": [
          [
            {
              "node": "Score Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Scrape Each Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "resume",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Score Filter": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "resume": {
        "main": [
          [
            {
              "node": "Scrape Last 24 hours Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          []
        ]
      },
      "Ollama Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "trelos skilos",
    "name": null,
    "description": null
  },
  "tags": []
}