working_weather-forecast-email---receive-automated-weather-forecasts-daily-.json
{
  "updatedAt": "2025-11-12T09:26:50.000Z",
  "createdAt": "2025-10-29T08:00:25.966Z",
  "id": "tYmVtJlUGdGDzzwg",
  "name": "Working_Weather Forecast Email - Receive Automated Weather Forecasts Daily",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8171a8a-a78e-486e-aed5-02bf72137c3e",
              "name": "place_id",
              "type": "string",
              "value": "Athens"
            },
            {
              "id": "ffdd0b58-8f4c-43b7-9f9e-efbbfbd537c3",
              "name": "send_to_email",
              "type": "string",
              "value": "seremvas76@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "id": "fb92c5b8-f965-483b-84ca-c286969b3ccd",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        1296,
        960
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "id": "ccb217ac-a6dc-4a3e-ab5c-f75a1efde030",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1072,
        960
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://www.meteosource.com/api/v1/free/point?&sections=all&timezone=UTC&language=en&units=metric",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "place_id",
              "value": "={{ $json.place_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5050181f-b7ce-47dc-a782-fe8c1c638861",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1520,
        960
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpQueryAuth": {
          "id": "1TDM065QjX0QoTG9",
          "name": "MeteoSource"
        }
      }
    },
    {
      "parameters": {
        "content": "# Contact Us:\n## Milan @ SmoothWork - [Book a Free Consulting Call](https://smoothwork.ai/book-a-call/)\n![Milan](https://gravatar.com/avatar/95700d17ba300a9f14c1b8cacf933df7720027b3adda9cbe6183d89142925422?r=pg&d=retro&size=100)\n\n\n### We help businesses eliminate busywork by building compact business tools tailored to your process.\n### Contact us for customizing this, or building similar automations.\n\n📧 hello@smoothwork.ai\n▶️ [Check us on YouTube](https://www.youtube.com/@vasarmilan)\n📞 [Book a Free Consulting Call](https://smoothwork.ai/book-a-call/)\n💼 [Add me on Linkedin](https://www.linkedin.com/in/mil%C3%A1n-v%C3%A1s%C3%A1rhelyi-3a9985123/)\n",
        "height": 440,
        "width": 600,
        "color": 5
      },
      "id": "contact-note-1759910018487",
      "name": "Creator Contact Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow Overview\n\nThis workflow automatically sends you a daily weather forecast email every morning. It fetches current and next-day weather summaries from Meteosource and delivers them directly to your inbox at 7:00 AM, helping you start your day prepared.\n\n### First Setup\n\n1. **Meteosource API Account**: Sign up for a free account at [Meteosource](https://www.meteosource.com/) to get your API key (400 free calls per day)\n2. **Credentials needed**:\n   - **Meteosource credentials**: Create an HTTP Query Auth credential in n8n with the parameter name `key` and your Meteosource API key as the value\n   - **Gmail OAuth2**: Connect your Gmail account to n8n for sending emails\n\n### Configuration\n\nOpen the **Config - place_id and recipient** node to personalize:\n- **place_id**: Change from \"london\" to your desired location (use Meteosource place ID format)\n- **send_to_email**: Update with your preferred recipient email address\n\n### How It Works\n\nThe workflow runs daily at 7:00 AM, retrieves weather data from Meteosource for your configured location, and sends an email with today's weather in the subject line and tomorrow's forecast in the body.",
        "height": 1000,
        "width": 600
      },
      "id": "doc-note-1759910018487",
      "name": "Workflow Description",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Video Walkthrough\n[![image.png](https://vasarmilan-public.s3.us-east-1.amazonaws.com/blog_thumbnails/thumbnail_recux4gNImLpzqvyd.jpg)](https://youtu.be/mMEX4Zsz4XY)",
        "height": 340,
        "width": 420
      },
      "id": "video-note-1759912267935",
      "name": "Video Walkthrough",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "5870531738",
        "text": "=Weather Forecast for Athens\n\nWeather Today:  {{ $json.daily.data[0].summary }}\n\nWeather Tomorrow:  {{ $json.daily.data[1].summary }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        960
      ],
      "id": "79e4d9e7-22a0-4d07-8e23-85d0c17a41e8",
      "name": "Send a text message",
      "webhookId": "e597a4f4-716a-43ef-b6f1-37b36d891578",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Athens",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "availableInMCP": false,
    "errorWorkflow": "g6VSaJXbw9uphgte"
  },
  "staticData": {
    "node:Schedule": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateId": "7815",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5bc407a6-0e7c-4273-b459-a2449a7782e3",
  "activeVersionId": "5bc407a6-0e7c-4273-b459-a2449a7782e3",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-29T08:00:25.969Z",
      "createdAt": "2025-10-29T08:00:25.969Z",
      "role": "workflow:owner",
      "workflowId": "tYmVtJlUGdGDzzwg",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-28T13:36:06.316Z",
    "createdAt": "2025-11-28T13:36:06.316Z",
    "versionId": "5bc407a6-0e7c-4273-b459-a2449a7782e3",
    "workflowId": "tYmVtJlUGdGDzzwg",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d8171a8a-a78e-486e-aed5-02bf72137c3e",
                "name": "place_id",
                "type": "string",
                "value": "Athens"
              },
              {
                "id": "ffdd0b58-8f4c-43b7-9f9e-efbbfbd537c3",
                "name": "send_to_email",
                "type": "string",
                "value": "seremvas76@gmail.com"
              }
            ]
          },
          "options": {}
        },
        "id": "fb92c5b8-f965-483b-84ca-c286969b3ccd",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "position": [
          1296,
          960
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8,
                "triggerAtMinute": 5
              }
            ]
          }
        },
        "id": "ccb217ac-a6dc-4a3e-ab5c-f75a1efde030",
        "name": "Schedule",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          1072,
          960
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "url": "https://www.meteosource.com/api/v1/free/point?&sections=all&timezone=UTC&language=en&units=metric",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpQueryAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "place_id",
                "value": "={{ $json.place_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "5050181f-b7ce-47dc-a782-fe8c1c638861",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1520,
          960
        ],
        "typeVersion": 4.2,
        "credentials": {
          "httpQueryAuth": {
            "id": "1TDM065QjX0QoTG9",
            "name": "MeteoSource"
          }
        }
      },
      {
        "parameters": {
          "content": "# Contact Us:\n## Milan @ SmoothWork - [Book a Free Consulting Call](https://smoothwork.ai/book-a-call/)\n![Milan](https://gravatar.com/avatar/95700d17ba300a9f14c1b8cacf933df7720027b3adda9cbe6183d89142925422?r=pg&d=retro&size=100)\n\n\n### We help businesses eliminate busywork by building compact business tools tailored to your process.\n### Contact us for customizing this, or building similar automations.\n\n📧 hello@smoothwork.ai\n▶️ [Check us on YouTube](https://www.youtube.com/@vasarmilan)\n📞 [Book a Free Consulting Call](https://smoothwork.ai/book-a-call/)\n💼 [Add me on Linkedin](https://www.linkedin.com/in/mil%C3%A1n-v%C3%A1s%C3%A1rhelyi-3a9985123/)\n",
          "height": 440,
          "width": 600,
          "color": 5
        },
        "id": "contact-note-1759910018487",
        "name": "Creator Contact Info",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          368,
          240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Workflow Overview\n\nThis workflow automatically sends you a daily weather forecast email every morning. It fetches current and next-day weather summaries from Meteosource and delivers them directly to your inbox at 7:00 AM, helping you start your day prepared.\n\n### First Setup\n\n1. **Meteosource API Account**: Sign up for a free account at [Meteosource](https://www.meteosource.com/) to get your API key (400 free calls per day)\n2. **Credentials needed**:\n   - **Meteosource credentials**: Create an HTTP Query Auth credential in n8n with the parameter name `key` and your Meteosource API key as the value\n   - **Gmail OAuth2**: Connect your Gmail account to n8n for sending emails\n\n### Configuration\n\nOpen the **Config - place_id and recipient** node to personalize:\n- **place_id**: Change from \"london\" to your desired location (use Meteosource place ID format)\n- **send_to_email**: Update with your preferred recipient email address\n\n### How It Works\n\nThe workflow runs daily at 7:00 AM, retrieves weather data from Meteosource for your configured location, and sends an email with today's weather in the subject line and tomorrow's forecast in the body.",
          "height": 1000,
          "width": 600
        },
        "id": "doc-note-1759910018487",
        "name": "Workflow Description",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          368,
          688
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "# Video Walkthrough\n[![image.png](https://vasarmilan-public.s3.us-east-1.amazonaws.com/blog_thumbnails/thumbnail_recux4gNImLpzqvyd.jpg)](https://youtu.be/mMEX4Zsz4XY)",
          "height": 340,
          "width": 420
        },
        "id": "video-note-1759912267935",
        "name": "Video Walkthrough",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          992,
          240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "chatId": "5870531738",
          "text": "=Weather Forecast for Athens\n\nWeather Today:  {{ $json.daily.data[0].summary }}\n\nWeather Tomorrow:  {{ $json.daily.data[1].summary }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1760,
          960
        ],
        "id": "79e4d9e7-22a0-4d07-8e23-85d0c17a41e8",
        "name": "Send a text message",
        "webhookId": "e597a4f4-716a-43ef-b6f1-37b36d891578",
        "credentials": {
          "telegramApi": {
            "id": "i5VGPAGcIQB6DQ6M",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Config": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "tags": []
}