🚨-report-n8n-workflow-errors-to-telegram-.json
{
  "updatedAt": "2025-11-12T09:32:27.000Z",
  "createdAt": "2025-11-12T09:19:14.987Z",
  "id": "g6VSaJXbw9uphgte",
  "name": "🚨 Report n8n workflow errors to Telegram",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "aa84d631-c14f-45c2-a659-454605e83c30",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        448,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=⚠️ Workflow `{{$json[\"workflow\"][\"name\"]}}` failed to run! [execution]({{ $json.execution.url }})"
            }
          ]
        },
        "options": {}
      },
      "id": "abffce17-cc93-4c6a-8955-de2d0f4cc885",
      "name": "Set message",
      "type": "n8n-nodes-base.set",
      "position": [
        720,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 👨‍🎤 Setup\n1. Add Telegram creds\n2. Set chat id in **Telegram** node\n2. Add this error workflow to other workflows\nhttps://docs.n8n.io/flow-logic/error-handling/#create-and-set-an-error-workflow",
        "height": 154.7766688696994,
        "width": 424.4907862645661,
        "color": 5
      },
      "id": "1e5c4af6-30ae-45b8-bca7-048a656ce9bd",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "5870531738",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "845ddf26-2d40-4cc6-843b-ccb3b365fbfb",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        928,
        448
      ],
      "typeVersion": 1.1,
      "webhookId": "b9fa2f49-d8de-4720-8fd2-96830d600129",
      "credentials": {
        "telegramApi": {
          "id": "i5VGPAGcIQB6DQ6M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 👆🏽 Set chat id here",
        "height": 80,
        "width": 241
      },
      "id": "90db96b8-0e43-4977-b455-3e6813211640",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        624
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "On Error": {
      "main": [
        [
          {
            "node": "Set message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Athens",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateId": "2159"
  },
  "pinData": {},
  "versionId": "0fa8b367-f664-410f-bb58-9b649d82081f",
  "activeVersionId": "0fa8b367-f664-410f-bb58-9b649d82081f",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-12T09:19:14.990Z",
      "createdAt": "2025-11-12T09:19:14.990Z",
      "role": "workflow:owner",
      "workflowId": "g6VSaJXbw9uphgte",
      "projectId": "7jNXHgiAtPda1pR0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-28T13:36:06.316Z",
    "createdAt": "2025-11-28T13:36:06.316Z",
    "versionId": "0fa8b367-f664-410f-bb58-9b649d82081f",
    "workflowId": "g6VSaJXbw9uphgte",
    "nodes": [
      {
        "parameters": {},
        "id": "aa84d631-c14f-45c2-a659-454605e83c30",
        "name": "On Error",
        "type": "n8n-nodes-base.errorTrigger",
        "position": [
          448,
          448
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "message",
                "value": "=⚠️ Workflow `{{$json[\"workflow\"][\"name\"]}}` failed to run! [execution]({{ $json.execution.url }})"
              }
            ]
          },
          "options": {}
        },
        "id": "abffce17-cc93-4c6a-8955-de2d0f4cc885",
        "name": "Set message",
        "type": "n8n-nodes-base.set",
        "position": [
          720,
          448
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### 👨‍🎤 Setup\n1. Add Telegram creds\n2. Set chat id in **Telegram** node\n2. Add this error workflow to other workflows\nhttps://docs.n8n.io/flow-logic/error-handling/#create-and-set-an-error-workflow",
          "height": 154.7766688696994,
          "width": 424.4907862645661,
          "color": 5
        },
        "id": "1e5c4af6-30ae-45b8-bca7-048a656ce9bd",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          368,
          240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "chatId": "5870531738",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "845ddf26-2d40-4cc6-843b-ccb3b365fbfb",
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          928,
          448
        ],
        "typeVersion": 1.1,
        "webhookId": "b9fa2f49-d8de-4720-8fd2-96830d600129",
        "credentials": {
          "telegramApi": {
            "id": "i5VGPAGcIQB6DQ6M",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "content": "### 👆🏽 Set chat id here",
          "height": 80,
          "width": 241
        },
        "id": "90db96b8-0e43-4977-b455-3e6813211640",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          960,
          624
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "On Error": {
        "main": [
          [
            {
              "node": "Set message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set message": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "tags": []
}